<body id="default_theme" class="it_service service_detail">
    <!-- section -->
    <div class="section padding_layout_1 service_list">
        <div class="container">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 service_blog margin_bottom_50">
                        <div class="full">
                            <div class="service_img"> <img class="img-responsive" src="assets/themes/images/bac-si-tu-van-online-1.jpg" alt="#" /> </div>
                            <div class="service_cont">
                                <h3 class="service_head" style="font-family: sans-serif; font-size: 18px; font-weight: bold;">Phương trâm hoạt động</h3>
                                <p style="font-family: sans-serif; margin-left: 10px;">Phương châm hoạt động của chúng tôi lấy mục tiêu "Tất cả vì bệnh nhân" Và cũng ngay từ những ngày đầu tiên đó, chúng tôi luôn nhận thấy rằng bệnh nhân đến khám bệnh không hẳn chỉ vì cơ sở vật chất đẹp hay hiện đại, mà họ
                                    cần một nơi để chia sẻ những vấn đề về sức khoẻ của mình, một nơi mà các nhân viên y tế hay bác sĩ luôn lắng nghe, luôn khuyến khích họ hỏi và luôn cố gắng đưa ra những câu trả lời hay những giải pháp điều trị có lợi
                                    nhất cho họ. Họ cần một nơi mà các bác sĩ thật sự dành nhiều thời gian để tìm hiểu và chăm sóc vấn đề sức khoẻ của họ như thể họ chính là người thân trong gia đình, không những chỉ trong lúc khám bệnh mà còn sau khi
                                    họ đã ra về. Họ cũng cần một nơi mà họ tìm đến không phải chỉ những lúc đau bệnh, mà cả những lúc họ đang khoẻ mạnh, để tham vấn ý kiến của các bác sĩ về cách duy trì sức khoẻ tốt nhất, có được thói quen sống lành mạnh,
                                    cũng như phòng ngừa và phát hiện sớm những bệnh lý nguy hiểm. Với tâm niệm đó, Blouse luôn học hỏi, luôn lắng nghe và chăm sóc cho khách hàng dựa trên những bằng chứng y khoa đáng tin cậy nhất, những bác sĩ có chuyên
                                    môn cao nhất. Chúng tôi gọi đó là tấm lòng tận tâm, luôn đặt lợi ích của bệnh nhân trên hết và xem bệnh nhân là trung tâm của quá trình chăm sóc.<br>
                                    <br> Tại hệ thống, các Bác sỹ được kết nối đều nhấn mạnh tầm quan trọng của phương pháp “y học chứng cứ” (*), các tiến trình chẩn đoán và điều trị phải dựa trên xác nhận của y văn hoặc kinh nghiệm điều trị thực tế đã
                                    được kiểm chứng, tránh việc lạm dụng thuốc và xét nghiệm. Bác sỹ của chúng tôi phải có nghĩa vụ và trách nhiệm tư vấn thấu đáo cho bệnh nhân cùng gia đình về nguồn gốc, nguyên nhân bệnh, cách chữa trị và phương pháp
                                    phòng ngừa. Đó chính là cốt lõi của việc chăm sóc sức khỏe theo tiêu chuẩn Quốc tế. Chăm sóc sức khỏe dựa trên nền tảng y học chứng cứ là một lĩnh vực mà trong đó các bác sĩ luôn (chỉ) áp dụng những kinh nghiệm đã tỏ
                                    ra có hiệu quả (chứng cứ) trên thực tế để điều trị cho bệnh nhân.<br>
                                    <br> Trong y học chứng cứ, việc điều trị cụ thể và tiến trình chẩn đoán cho một bệnh nhân nào đó chỉ được áp dụng khi: <br>
                                    <br>(1) Đã có chứng cứ trong y văn xác nhận phương pháp điều trị và chẩn đoán đó là hiệu quả <br>
                                    <br>(2) Đã có kinh nghiệm điều trị thực tế xác nhận hiệu quả của phương pháp đó.</p>
                                <div class="bt_cont"> <a class="btn sqaure_bt" [routerLink]="['/schedule']">Đăng ký khám</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 service_blog margin_bottom_50">
                        <div class="full">
                            <div class="service_img"> <img class="img-responsive" src="assets/themes/images/bstv5.jpg" alt="#" /> </div>
                            <div class="service_cont">
                                <h3 class="service_head" style="font-weight: bold; font-family: sans-serif;">Đăng ký khám theo giờ</h3>
                                <p style="font-family: sans-serif;">Đăng ký hẹn giờ khám ngay từ khi lên kế hoạch tại nhà.</p>
                                <div class="bt_cont"> <a class="btn sqaure_bt" [routerLink]="['/schedule']">Đăng ký khám</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 service_blog margin_bottom_50">
                        <div class="full">
                            <div class="service_img"> <img class="img-responsive" src="assets/themes/images/bac-si-tu-van-online-3.jpg" alt="#" /> </div>
                            <div class="service_cont">
                                <h3 class="service_head" style="font-weight: bold; font-family: sans-serif;">Đăng ký khám định kỳ</h3>
                                <p style="font-family: sans-serif;">Đăng ký hẹn lịch khám định kỳ tiết kiệm thời gian lên kế hoạch.</p>
                                <div class="bt_cont"> <a class="btn sqaure_bt" [routerLink]="['/schedule']">Đăng ký khám</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 service_blog margin_bottom_50">
                        <div class="full">
                            <div class="service_img"> <img class="img-responsive" src="assets/themes/images/bstv3.jpg" alt="#" /> </div>
                            <div class="service_cont">
                                <h3 class="service_head" style="font-weight: bold; font-family: sans-serif;">Đăng ký theo bác sĩ</h3>
                                <p style="font-family: sans-serif;">khám chữa bệnh theo bác sĩ tại các bệnh viện uy tín.</p>
                                <div class="bt_cont"> <a class="btn sqaure_bt" [routerLink]="['/schedule']">Đăng ký khám</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-md-12">
                        <div class="full margin_bottom_30">
                            <div class="accordion border_circle">
                                <div class="bs-example">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-bar-chart" aria-hidden="true"></i> Đội ngũ bác sỹ chuyên môn cao<i class="fa fa-angle-down"></i></a> </p>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p style="font-family: sans-serif;">Phần lớn, các giáo sư, bác sĩ tại bệnh viện đều là những bác sĩ tài năng, có chuyên môn cao, nhiều kinh nghiệm và đã từng điều trị thành công cho hàng nghìn bệnh nhân tới thăm khám. <br> Nhiều bác sĩ
                                                        tại Blouse từng làm việc tại các bệnh viện danh tiếng ở Việt Nam và cũng nhiều bác sĩ đã từng học tập và làm việc tại nước ngoài. Vì thế, bạn có thể yên tâm về chất lượng khám chữa bệnh tại đây.
                                                        <br> Các bác sĩ tư vấn online cũng đều là những bác sĩ có tay nghề giỏi và kinh nghiệm lâu năm trong lĩnh vực y tế. Bệnh nhân hoàn yên tâm về chất lượng tư vấn, chắc chắn mọi thắc mắc của bạn sẽ
                                                        được giải đáp một cách nhanh chóng và chính xác nhất. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-plane"></i> Phục vụ chuyên nghiệp, tận tình<i class="fa fa-angle-down"></i></a> </p>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p style="font-family: sans-serif;">Với phương châm làm việc “Lương y như từ mẫu” mỗi bác sĩ tại bệnh viện, không phân biệt là bác sĩ tư vấn trực tuyến hay bác sĩ thăm khám trực tiếp, đều có thái độ phục vụ bệnh nhân chuyên nghiệp và ân
                                                        cần. Cũng chính bởi vậy, nhiều người bệnh luôn tin tưởng và đặc biệt hài lòng với dịch vụ tư vấn, khám chữa bệnh của Blouse. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fa fa-star"></i> Trang thiết bị hiện đại<i class="fa fa-angle-down"></i></a> </p>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p style="font-family: sans-serif;">Trang thiết bị hiện đại, đảm bảo tiêu chuẩn. Hứa hẹn sẽ đem đến trải nghiệm tốt nhất cho khách hàng.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><i class="fa fa-bar-chart" aria-hidden="true"></i> Chi phí hợp lý<i class="fa fa-angle-down"></i></a> </p>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <p style="font-family: sans-serif;">Chất lượng dịch vụ chuyên nghiệp nhưng chi phí khám chữa bệnh của Bệnh viện Đa khoa MEDLATEC lại rất hợp lý và đảm bảo tính minh bạch. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>