.padding_layout_1 {
	padding-top: 120px;
	padding-bottom: 115px;
}
.service_detail{
  padding-top: 50px;
}

.padding_layout_2 {
	padding-top: 120px;
	padding-bottom: 80px;
}

.padding_layout_1_small {
	padding-top: 80px;
	padding-bottom: 80px;
}
.service_list_cleaning .contant_information {
	background: rgba(20, 110, 111, .98);
	padding: 50px 60px;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0 0;
	top: inherit;
	transition: ease all 0.5s;
	height: 290px;
}
.service_blog_inner .icon img {
	width: 65px;
}

.service_blog_inner h4.service-heading {
	margin: 25px 0 15px 0;
}

.service_blog_inner {
	margin-bottom: 35px;
	margin-top: 10px;
}
.service_blog_inner2 .icon {
	width: 95px;
	height: 95px;
	text-align: center;
	line-height: 92px;
	border-radius: 100%;
	font-size: 40px;
	color: #fff;
	transition: ease all 0.5s;
	border: solid #17a5e9 2px;
	background: #17a5e9;
}

.service_blog_inner2 {
	margin-bottom: 50px;
	transition: ease all 0.5s;
}

.service_blog_inner2:hover .icon,
.service_blog_inner2:focus .icon {
	border: solid #17a5e9 2px;
	background: #fff;
	color: #17a5e9;
}
.mechanic .service_blog_inner {
	text-align: center;
	background: #fff;
	padding: 35px;
	box-shadow: 10px 10px 25px -20px #000;
}
.service_blog_2 h2 {
	margin-top: 0;
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 15px;
}
.margin_bottom_50_all {
	margin-bottom: 50px;
}
.margin_bottom_50 {
	margin-bottom: 50px;
}
.full {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.img-responsive {
	max-width: 100%;
}
.service_cont {
	margin-top: 35px;
}
.btn {
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-custom {
	margin-top: 20px;
	background-color: transparent;
	border: 2px solid rgb(57, 129, 50);
	padding: 12px 40px;
	font-size: 16px;
}

.button_section {
	float: left;
	width: 100%;
}

a.btn,
button.btn {
	min-width: 170px;
	height: 50px;
	border-radius: 100px;
	padding: 0;
	text-align: center;
	line-height: 52px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 10px;
	color: rgb(11, 61, 197);
	border: solid transform 1px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
	position: relative;
	font-family: 'Poppins', sans-serif;
}

.btn.dark_gray_bt {
	background: #252525;
}

a.btn.border_btn {
	border: solid transparent 1px;
	background: transparent;
}

a.btn:hover,
button.btn:hover,
a.btn:focus,
button.btn:focus {
	background: #0e10a0;
	color: rgb(249, 249, 250);
}

button.btn.white_btn,
a.btn.white_btnbutton.btn.white_btn,
a.btn.white_btn {
	background: rgb(20, 165, 175);
	padding: 0 50px;
}

.btn.sqaure_bt i {
	margin-left: 8px;
	font-weight: 600;
	top: -1px;
	position: relative;
}

.bottom_info .btn.sqaure_bt {
	margin: 0;
}
.service_blog_inner .icon img {
	width: 65px;
}

.service_blog_inner h4.service-heading {
	margin: 25px 0 15px 0;
}

.service_blog_inner {
	margin-bottom: 35px;
	margin-top: 10px;
}
.service_blog_inner2 .icon {
	width: 95px;
	height: 95px;
	text-align: center;
	line-height: 92px;
	border-radius: 100%;
	font-size: 40px;
	color: #fff;
	transition: ease all 0.5s;
	border: solid #17a5e9 2px;
	background: #17a5e9;
}

.service_blog_inner2 {
	margin-bottom: 50px;
	transition: ease all 0.5s;
}

.service_blog_inner2:hover .icon,
.service_blog_inner2:focus .icon {
	border: solid #17a5e9 2px;
	background: #fff;
	color: #17a5e9;
}
.text_align_left {
	text-align: left;
}
.main_heading.text_align_left::after {
	margin-left: 0;
}
.testimonial_qoute .text_align_left.testmonial_qoute i {
	margin-bottom: 25px;
}
.text_align_left .icon_feature {
	margin-right: 25px;
	margin-left: 0;
}
.service_blog_inner h4.service-heading {
	margin: 25px 0 15px 0;
}
.margin_bottom_30_all {
	margin-bottom: 30px;
}
#accordion {
	margin: 15px 0 0 0;
	padding: 0;
}

#accordion .panel.panel-default {
	border: none;
	border-radius: 0;
	margin: 0 0 16px 0;
	box-shadow: none;
	background: transparent;
	float: left;
	width: 100%;
}

#accordion .panel.panel-default .panel-heading {
	border: none;
	background: transparent;
	border-radius: 0;
	min-height: 50px;
	padding: 0;
	float: left;
	width: 100%;
}

#accordion .panel-collapse {
	float: left;
	width: 100%;
}

#accordion .panel.panel-default .panel-heading p a[aria-expanded="true"],
#accordion .panel.panel-default:nth-child(1) .panel-heading p a {
	background: #17a5e9;
	border-color: #17a5e9;
	color: #fff;
}

#accordion .panel.panel-default .panel-heading p a[aria-expanded="true"] i,
#accordion .panel.panel-default:nth-child(1) .panel-heading p a i {
	color: #fff !important;
}

#accordion .panel.panel-default .panel-heading p a[aria-expanded="true"] i.fa-angle-down,
#accordion .panel.panel-default:nth-child(1) .panel-heading p a i.fa-angle-down {
	transform: rotate(180deg);
	transition: ease all 0.5s;
}

#accordion .panel.panel-default .panel-heading p a,
#accordion .panel.panel-default .panel-heading p a[aria-expanded="false"] {
	border: solid #e4e4e4 1px;
	background: #fff;
	border-radius: 0;
	min-height: 50px;
	padding: 17px 25px 15px;
}

#accordion .panel.panel-default .panel-heading p a[aria-expanded="false"] {
	color: #000 !important;
}

#accordion .panel.panel-default .panel-heading p a[aria-expanded="false"] i {
	color: #17a5e9 !important;
}

#accordion .panel.panel-default .panel-heading p a[aria-expanded="false"] i.fa-angle-down {
	color: #000 !important;
}

#accordion .panel.panel-default .panel-heading p {
	font-size: 15px;
}

#accordion .panel.panel-default .panel-body {
	border: none;
	padding: 0 25px;
	margin: 15px 0 0 0;
	box-shadow: none;
	height: auto;
}

#accordion .panel.panel-default .panel-body p {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 24px;
}

#accordion .panel.panel-default .panel-heading p a {
	float: left;
	width: 100%;
	font-weight: 500;
	position: relative;
}

#accordion .panel.panel-default .panel-heading p a i.fa-angle-down {
	float: right;
	color: #000;
	margin: 0;
}

#accordion .panel.panel-default .panel-heading p a>i {
	font-size: 20px;
	color: #17a5e9;
	margin: 0 10px 0 0;
}

.without_border #accordion .panel.panel-default .panel-heading p a,
.without_border #accordion .panel.panel-default .panel-heading p a[aria-expanded="false"] {
	border: none;
	background: #fff;
	border-radius: 0;
	min-height: 50px;
	padding: 15px 0 12px;
}

.without_border #accordion .panel.panel-default .panel-heading p a[aria-expanded="true"] i,
.without_border #accordion .panel.panel-default:nth-child(1) .panel-heading p a i {
	color: #000 !important;
}

.without_border #accordion .panel.panel-default .panel-heading p a[aria-expanded="true"],
.without_border #accordion .panel.panel-default:nth-child(1) .panel-heading p a {
	color: #000 !important;
}

.without_border #accordion .panel.panel-default .panel-heading p a[aria-expanded="false"] {
	color: #000 !important;
}

.without_border #accordion .panel.panel-default .panel-heading p a>i {
	color: #000 !important;
}