<div class="container">
  <h2 *ngIf="data.type === 'create'" mat-dialog-title>Thêm khoa khám</h2>
  <h2 *ngIf="data.type === 'edit'" mat-dialog-title>Chỉnh sửa khoa khám</h2>

  <form [formGroup]="addForm" (ngSubmit)="onSubmit(data.id)">
    <input formControlName="id" type="hidden" [(ngModel)]="data.id" />
    <!-- input name -->
    <mat-form-field>
      <mat-label>Họ và Tên</mat-label>
      <input
        [class.is-invalid]="name.invalid && name.touched"
        formControlName="name"
        matInput
        type="text"
        [(ngModel)]="data.name"
      />
      <button
        mat-button
        *ngIf="data.name"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.name = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for fullName-->
      <mat-error *ngIf="name.touched && name.invalid">
        <small *ngIf="name.errors?.required" style="color: red;"
          >Họ Tên là bắt buộc</small
        >
        <!-- <small *ngIf="fullName.errors?.forbiddenName" style="color: red;"
                  >Name {{ fullName.errors?.forbiddenName.value }} is not allowed
                </small> -->
      </mat-error>
    </mat-form-field>

    <!-- input name -->
    <mat-form-field>
      <mat-label>Địa chỉ</mat-label>
      <input
        [class.is-invalid]="address.invalid && address.touched"
        formControlName="address"
        matInput
        type="text"
        [(ngModel)]="data.address"
      />
      <button
        mat-button
        *ngIf="data.address"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.address = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for fullName-->
      <mat-error *ngIf="address.touched && address.invalid">
        <small *ngIf="address.errors?.required" style="color: red;"
          >Địa chỉ là bắt buộc</small
        >
      </mat-error>
    </mat-form-field>

    <!-- input title -->
    <mat-form-field>
      <mat-label>Số điện thoại</mat-label>
      <input
        [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched"
        formControlName="phoneNumber"
        matInput
        type="text"
        [(ngModel)]="data.phoneNumber"
      />
      <button
        mat-button
        *ngIf="data.phoneNumber"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.phoneNumber = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for title -->
      <mat-error *ngIf="phoneNumber.touched && phoneNumber.invalid">
        <small *ngIf="phoneNumber.errors?.required" style="color: red;"
          >Số điện thoại là bắt buộc</small
        >
        <small *ngIf="phoneNumber.errors?.pattern" style="color: red;"
        >Số điện thoại là một dãy số có 10 số tự nhiên
        </small>
      </mat-error>
    </mat-form-field>

    <!-- input phone -->
    <mat-form-field>
      <mat-label>Địa chỉ website</mat-label>
      <input
        [class.is-invalid]="website.invalid && website.touched"
        formControlName="website"
        matInput
        type="text"
        [(ngModel)]="data.website"
      />
      <button
        mat-button
        *ngIf="data.website"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.website = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for phoneNumber -->
      <mat-error *ngIf="website.touched && website.invalid">
        <small *ngIf="website.errors?.required" style="color: red;"
          >Địa chỉ website là bắt buộc</small
        >
      </mat-error>
    </mat-form-field>

    <!-- input address -->
    <mat-form-field>
      <mat-label>Địa chỉ email</mat-label>
      <input
        [class.is-invalid]="email.invalid && email.touched"
        formControlName="email"
        matInput
        type="text"
        [(ngModel)]="data.email"
      />
      <button
        mat-button
        *ngIf="data.email"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.email = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for title -->
      <mat-error *ngIf="email.touched && email.invalid">
        <small *ngIf="email.errors?.required" style="color: red;"
          >Địa chỉ email là bắt buộc</small
        >
        <small *ngIf="email.errors?.pattern" style="color: red;"
        > Địa chỉ email có dạng "abc@gmail.com"
        </small>
      </mat-error>
    </mat-form-field>

    <!-- input email address -->
    <mat-form-field>
      <mat-label>Mô tả</mat-label>
      <input
        [class.is-invalid]="description.invalid && description.touched"
        formControlName="description"
        matInput
        type="text"
        [(ngModel)]="data.description"
      />
      <button
        mat-button
        *ngIf="data.description"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.description = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for title -->
      <mat-error *ngIf="description.touched && description.invalid">
        <small *ngIf="description.errors?.required" style="color: red;"
          >Mô tả là bắt buộc</small
        >
      </mat-error>
    </mat-form-field>

    <!-- select hospital -->
    <div class="selectHospital">
      <mat-form-field>
        <mat-label>Chọn một bệnh viện</mat-label>
        <mat-select
          #selectHospital
          formControlName="hospitalId"
          [class.is-invalid]="hospitalId.invalid && hospitalId.touched"
          [(ngModel)]="data.hospitalId"
        >
          <mat-option *ngFor="let hospital of hospitals" [value]="hospital.id">
            {{ hospital.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="displayButton">
      <button
        class="button-submit"
        *ngIf="data.type === 'create'"
        [disabled]="!addForm.valid"
        mat-raised-button
        type="submit"
      >
        Thêm khoa 
      </button>
      <button
        class="button-submit"
        *ngIf="data.type === 'edit'"
        [disabled]="!addForm.valid"
        mat-raised-button
        type="submit"
      >
        Cập nhật
      </button>
      <button mat-stroked-button class="component-button" [mat-dialog-close]>
        Hủy bỏ
      </button>
    </div>
  </form>
</div>
