<div class="container">
    <h2 *ngIf="data.type === 'create'" mat-dialog-title>Thêm nhân viên</h2>
    <h2 *ngIf="data.type === 'edit'" mat-dialog-title>Chỉnh sửa thông tin nhân viên</h2>

    <form [formGroup]="addForm" (ngSubmit)="onSubmit(data.id)">
      
      <!-- select hospital -->
      <div class="selectHospital">
        <mat-form-field>
          <mat-label>Chọn bệnh viện</mat-label>
          <mat-select
            #selectHospital
            formControlName="hospitalId"
            [class.is-invalid]="hospitalId.invalid && hospitalId.touched"
            [(ngModel)]="data.hospitalId"
          >
            <mat-option  *ngFor="let hospital of hospitals" [value]="hospital.id">
              {{ hospital.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Active -->
      <div class="radio-group">
        <p>Trạng thái hoạt động</p>
        <mat-radio-group
          formControlName="isActive"
          [class.is-invalid]="isActive.invalid"
          aria-label="Active"
        >
          <mat-radio-button [checked]="data.isActive === 1" value="1"
            >Đang hoạt động
          </mat-radio-button>
          <mat-radio-button [checked]="data.isActive === 0" value="0"
            >Ngừng hoạt động
          </mat-radio-button>
        </mat-radio-group>
      </div>
  
      <!-- input name -->
      <mat-form-field>
        <mat-label>Họ và Tên</mat-label>
        <input
          [class.is-invalid]="fullName.invalid && fullName.touched"
          formControlName="fullName"
          matInput
          type="text"
          [(ngModel)]="data.fullName"
        />
        <button
          mat-button
          *ngIf="data.fullName"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="data.fullName = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        <!-- process error message for fullName-->
        <mat-error *ngIf="fullName.touched && fullName.invalid">
          <small *ngIf="fullName.errors?.required" style="color: red;"
            >Họ và Tên là bắt buộc</small
          >
          <small *ngIf="fullName.errors?.forbiddenName" style="color: red;"
          >Tên "{{ fullName.errors?.forbiddenName.value }}" không được phép sử dụng
        </small>
        </mat-error>
      </mat-form-field>

      <!-- input title -->
      <mat-form-field>
        <mat-label>Chức danh</mat-label>
        <input
          [class.is-invalid]="title.invalid && title.touched"
          formControlName="title"
          matInput
          type="text"
          [(ngModel)]="data.title"
        />
        <button
          mat-button
          *ngIf="data.title"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="data.title = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        <!-- process error message for title -->
        <mat-error *ngIf="title.touched && title.invalid">
          <small *ngIf="title.errors?.required" style="color: red;"
            >Chức danh là bắt buộc</small
          >
        </mat-error>
      </mat-form-field>

      <!-- choose gender -->
      <div class="radio-group">
        <p>Giới Tính</p>
        <mat-radio-group
          formControlName="gender"
          aria-label="Gender"
          [class.is-invalid]="gender.invalid"
        >
          <mat-radio-button [checked]="data.gender === 1" value="1"
            >Nam
          </mat-radio-button>
          <mat-radio-button [checked]="data.gender === 2" value="2"
            >Nữ</mat-radio-button
          >
        </mat-radio-group>
      </div>

      <!-- input phone -->
      <mat-form-field>
        <mat-label>Số điện thoại</mat-label>
        <input
          [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched"
          formControlName="phoneNumber"
          matInput
          type="text"
          [(ngModel)]="data.phoneNumber"
        />
        <button
          mat-button
          *ngIf="data.phoneNumber"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="data.phoneNumber = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        <!-- process error message for phoneNumber -->
        <mat-error *ngIf="phoneNumber.touched && phoneNumber.invalid">
          <small *ngIf="phoneNumber.errors?.required" style="color: red;"
            >Số điện thoại là bắt buộc</small
          >
          <small *ngIf="phoneNumber.errors?.pattern" style="color: red;"
          >Số điện thoại là một dãy số có 10 số tự nhiên
          </small>
        </mat-error>
      </mat-form-field>

      <!-- choose dob -->
      <mat-form-field>
        <mat-label>Chọn ngày sinh</mat-label>
        <input
          type="date"
          matInput
          formControlName="dateOfBirth"
          [class.is-invalid]="dateOfBirth.invalid && dateOfBirth.touched"
          [(ngModel)]="data.dateOfBirth"
        />
      </mat-form-field>

      <!-- input address -->
      <mat-form-field>
        <mat-label>Địa chỉ</mat-label>
        <input
          [class.is-invalid]="address.invalid && address.touched"
          formControlName="address"
          matInput
          type="text"
          [(ngModel)]="data.address"
        />
        <button
          mat-button
          *ngIf="data.address"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="data.address = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        <!-- process error message for title -->
        <mat-error *ngIf="address.touched && address.invalid">
          <small *ngIf="address.errors?.required" style="color: red;"
            >Địa chỉ là bắt buộc</small
          >
        </mat-error>
      </mat-form-field>

      <!-- input email address -->
      <mat-form-field>
        <mat-label>Địa chỉ email</mat-label>
        <input
          [class.is-invalid]="email.invalid && email.touched"
          formControlName="email"
          matInput
          type="text"
          [(ngModel)]="data.email"
          [readonly]="data.type == 'edit'"
        />
        <button
          mat-button
          *ngIf="data.email && data.type == 'create'"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="data.email = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        <!-- process error message for title -->
        <mat-error *ngIf="email.touched && email.invalid">
          <small *ngIf="email.errors?.required" style="color: red;"
            >Địa chỉ email là bắt buộc</small
          >
          <small *ngIf="email.errors?.pattern" style="color: red;"
          > Địa chỉ email có dạng "abc@gmail.com"
          </small>
        </mat-error>
      </mat-form-field>

      <!-- input username -->
      <mat-form-field>
        <mat-label>Tên đăng nhập</mat-label>
        <input
          [class.is-invalid]="username.invalid && username.touched"
          formControlName="username"
          matInput
          type="text"
          [(ngModel)]="data.username"
          [readonly]="data.type == 'edit'"
        />
        <button
          mat-button
          *ngIf="data.username && data.type == 'create'"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="data.username = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        <!-- process error message for title -->
        <mat-error *ngIf="username.touched && username.invalid">
          <small *ngIf="username.errors?.required" style="color: red;"
            >Tên đăng nhập là bắt buộc</small
          >
          <small *ngIf="username.errors?.forbiddenName" style="color: red;"
          >Tên "{{ username.errors?.forbiddenName.value }}" không được phép sử dụng
        </small>
        </mat-error>
      </mat-form-field>

      <div class="displayButton">
        <button
          class="button-submit"
          *ngIf="data.type === 'create'"
          [disabled]="!addForm.valid"
          mat-raised-button
          type="submit"
        >
          Thêm nhân viên
        </button>
        <button
          class="button-submit"
          *ngIf="data.type === 'edit'"
          [disabled]="!addForm.valid"
          mat-raised-button
          type="submit"
        >
          Cập nhật
        </button>
        <button mat-stroked-button class="component-button" [mat-dialog-close]>
          Hủy bỏ
        </button>
      </div>
    </form>
  </div>
  