<!-- LOADER -->
<!-- <div id="preloader">
         <img class="preloader" src="assets/themes/images/loaders/heart-loading2.gif" alt="">
      </div> -->
<!-- END LOADER -->
<div id="home" class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4" style="background-image: url('assets/themes/images/slider-bg.png')">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="text-contant">
                    <h2>
                        <span class="center"><span class="icon"
                ><img src="assets/themes/images/icon-logo.png" alt="#" /></span
            ></span>
                        <a href="" class="typewrite" data-period="2000" data-type='[ "Chào mừng đến với Blouse", "Đăng ký - khám bệnh tại nhà", "Đăng ký Ngay !" ]'>
                            <span class="wrap"></span>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end section -->
<div id="time-table" class="time-table-section">
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="service-time one" style="background: #3fc4db">
                    <span class="info-icon"><i class="fa fa-ambulance" aria-hidden="true"></i
          ></span>
                    <h3>Bác sĩ của chúng tôi</h3>
                    <p>Đội ngũ y bác sĩ có kinh nghiệm lâu năm trong nghề ...</p>
                    <button [routerLink]="['/doctor']">Tìm hiểu thêm</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="service-time middle" style="background: #1585a7">
                    <span class="info-icon"><i class="fa fa-clock-o" aria-hidden="true"></i
          ></span>
                    <h3>Đăng ký khám bệnh</h3>
                    <div class="time-table-section">
                        <ul>
                            <li>
                                <span class="left">Thứ 2 - Thứ 6</span
                ><span class="right">8.00 – 24.00</span>
                            </li>
                            <li>
                                <span class="left">Thứ 7</span><span class="right">24/24</span>
                            </li>
                        </ul>
                        <button [routerLink]="['/schedule']">Đăng ký khám</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="service-time three" style="background: #16b0d6">
                    <span class="info-icon"><i class="fa fa-hospital-o" aria-hidden="true"></i
          ></span>
                    <h3>Dịch vụ</h3>
                    <p>Cho bạn cái nhìn tổng quan về những gì chúng tôi đang làm.</p>
                    <button [routerLink]="['/service']">Tìm hiểu thêm</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="service" class="section wow fadeIn">
    <div class="container">
        <div class="heading">
            <span class="icon-logo"><img src="assets/themes/images/icon-logo.png" alt="#"
      /></span>
            <h2>Phòng Khám Chuyên Khoa</h2>
        </div>
        <!-- end title -->
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">
                    <h2 style="font-family: serif">Dịch Vụ Phòng Khám</h2>
                    <p class="lead" style="font-family: serif;">
                        Blouse được thiết kế và phát triển từ nhóm đồ án của sinh viên trường Đại Học FPT trong lĩnh vực chăm sóc sức khỏe y tế cao cấp.
                    </p>
                    <p style="font-family: serif;">
                        Hệ thống phòng khám Blouse có nhiều chi nhánh tại các vị trí giao thông thuận tiện trong thành phố, đầy đủ các chuyên khoa, phục vụ chức năng thăm khám và điều trị ngoại trú.
                    </p>
                    <a [routerLink]="['/service']" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Chi tiết</a
          >
        </div>
        <!-- end messagebox -->
      </div>
      <!-- end col -->
      <div class="col-md-6">
        <div class="post-media wow fadeIn">
          <img
            src="assets/themes/images/about_03.jpg"
            alt=""
            class="img-responsive"
          />
          <a
            href="http://www.youtube.com/watch?v=nrJtHemSPW4"
            data-rel="prettyPhoto[gal]"
            class="playbutton"
            ><i class="flaticon-play-button"></i
          ></a>
                </div>
                <!-- end media -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </div>
</div>
<div id="about" class="services wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="inner-services">
                    <div class="col-sm-4">
                        <div class="serv">
                            <span class="icon-service"><img src="assets/themes/images/service-icon1.png" alt="#"
              /></span>
                            <h4>Tiện lợi</h4>
                            <p>Có thế đăng ký khám bệnh tại nhà, không phải mất thời gian xếp hàng tại bệnh viện.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="serv">
                            <span class="icon-service"><img src="assets/themes/images/service-icon2.png" alt="#"
              /></span>
                            <h4>An toàn</h4>
                            <p>Hệ thống liên kết trực tiếp với các bệnh viện và phòng khám lớn trên toàn quốc.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="serv">
                            <span class="icon-service"><img src="assets/themes/images/service-icon3.png" alt="#"
              /></span>
                            <h4>Thông minh</h4>
                            <p>Thay đổi cập nhật lịch khám linh hoạt</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="inner-services">
                    <div class="col-sm-4">
                        <div class="serv">
                            <span class="icon-service"><img src="assets/themes/images/service-icon4.png" alt="#"
              /></span>
                            <h4>Chuyên nghiệp</h4>
                            <p>Lưu trữ và theo dõi hồ sơ sức khỏa của chính bạn.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="serv">
                            <span class="icon-service"><img src="assets/themes/images/service-icon5.png" alt="#"
              /></span>
                            <h4>Tiết kiệm</h4>
                            <p>Không mất chi phí đi lại, chờ đợi để đăng ký khám bệnh.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="serv">
                            <span class="icon-service"><img src="assets/themes/images/service-icon6.png" alt="#"
              /></span>
                            <h4>Thanh toán</h4>
                            <p>Thanh toán nhanh chóng và tiện lợi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</div>
<!-- end section -->

<!-- doctor -->

<div id="doctors" class="parallax section db" data-stellar-background-ratio="0.4" style="background: #fff" data-scroll-id="doctors" tabindex="-1">
    <div class="container">
        <div class="heading">
            <span class="icon-logo"><img src="assets/themes/images/icon-logo.png" alt="#"
      /></span>
            <h2>Những bác sĩ nổi bật</h2>
        </div>

        <div class="row dev-list text-center">
            <div *ngFor="let doctor of top3Doctors" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" style="
          visibility: visible;
          animation-duration: 1s;
          animation-delay: 0.2s;
          animation-name: fadeIn;
        ">
                <div class="widget clearfix" style="font-family: sans-serif;">
                    <img [src]="doctor.image ? (server_url + doctor.image) : 'assets/themes/images/doctor_01.jpg'" alt="" class="img-responsive img-rounded" />
                    <div class="widget-title">
                        <h3 style="font-family: sans-serif; margin-top: 15px; margin-bottom: -10px;"><b>{{ doctor.user.fullName }}</b></h3>
                    </div>
                    <!-- end title -->
                    <p style="color: black; font-family: sans-serif;">
                        <b>Bệnh viện:</b> {{ doctor.department.hospital.name }} <br /> <b>Khoa:</b> {{ doctor.department.name }}
                    </p>
                    <div class="button_detail">
                        <button (click)="onSelect(doctor)" class="btn btn-primary btn-lg" target="_blank" rel="nofollow noopener">Chi tiết</button
            >
          </div>
        </div>
        <!--widget -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>

<!-- end doctor section -->

<div id="testimonials" class="section wb wow fadeIn">
  <div class="container">
    <div class="heading">
      <span class="icon-logo"
        ><img src="assets/themes/images/icon-logo.png" alt="#"
      /></span>
      <h2>Chúng tôi là ai</h2>
    </div>
    <div class="container text-center">
      <h2>Hệ thống đăng ký khám chữa bệnh trực tuyến Blouse</h2>
    </div>

    <div class="container whoweare_main home_style">
      <ul class="nav nav-tabs">
        <li class="nav-item active">
          <a class="nav-link" data-toggle="tab" href="#menu3">Về chúng ta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu1">Tầm nhìn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2">Giá trị</a>
                        </li>
                        </ul>

                        <div class="tab-content">
                            <div id="menu3" class="tab-pane fade in active" style="color: black;">
                                <p style="font-family: serif; font-size: large;">Mang đến dịch vụ chăm sóc y tế tận tâm,</p>
                                <p style="font-family: serif; font-size: large;">chất lượng cao với chi phí hợp lý cho người Việt.</p>
                            </div>
                            <div id="menu1" class="tab-pane fade" style="color: black;">
                                <p style="font-family: serif; font-size: large;">Trở thành nhà tiên phong,</p>
                                <p style="font-family: serif; font-size: large;;">chăm sóc sức khỏe cho người Việt.</p>
                            </div>
                            <div id="menu2" class="tab-pane fade" style="color: black;">
                                <p style="font-family: serif; font-size: large;">Giá trị dịch vụ được cam kết bởi sự chăm sóc đối với bệnh nhân.</p>
                                <p style="font-family: serif; font-size: large;">
                                    Để duy trì và phát huy tinh thần và giá trị đó, Blouse đã đào tạo, định hướng đội ngũ bác sĩ và nhân viên y tế luôn cùng nhau làm việc trên cơ sở nền tảng văn hóa dịch vụ:
                                </p>
                                <p style="font-family: serif; font-size: large;">Cải tiến không ngừng quy trình và chất lượng chăm sóc y tế.</p>
                                <p style="font-family: serif; font-size: large;">Áp dụng kỹ thuật và kiến thức chăm sóc y tế tiến bộ.</p>
                                <p style="font-family: serif; font-size: large;">
                                    Rèn luyện văn hóa chăm sóc bệnh nhân bằng sự&nbsp;thấu hiểu, đồng cảm.
                                </p>
                                <p style="font-family: serif; font-size: large;">
                                    Ekíp bác sĩ được đào tạo liên tục và cam kết thực hành y khoa trên nền tảng y học chứng cứ.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end title -->
                </div>
                <!-- end container -->
            </div>
            <!-- end section -->

            <!-- end copyrights -->
            <!-- <a href="#home" data-scroll class="dmtop global-radius"
  ><i class="fa fa-angle-up"></i
></a> -->