<p>schedule works!</p>
<div class="medical-record wow fadeIn" style="margin-bottom: 40px">
    <img src="assets/themes/images/schedule.png" alt="Avatar" style="width: 25%" />
    <h1 style="font-size: 50px">Đặt Lịch Khám</h1>
</div>

<div class="container" id="blur">
    <div class="select-doctor">
        <h1>I. Chọn bác sĩ.</h1>
        <p style="color: black; font-weight: 400">
            - Tìm kiếm bác sĩ mà bạn muốn theo tên hoặc theo khoa khám trong các bệnh viện. Sau đó hãy chọn một bác sĩ mà bạn muốn đặt lịch.
        </p>
        <div class="row search-and-filter">
            <div class="col-md-3">
                <label style="color: coral">Tên bác sĩ </label>
                <input class="textSearch" type="text" [(ngModel)]="searchText" placeholder="Nhập tên bác sĩ" />
            </div>
            <div class="col-md-3">
                <label style="color: coral">Chọn bệnh viện </label>
                <select #selectHospital class="selectHospital" name="" [(ngModel)]="selectedHospital" (ngModelChange)="loadDepartmentByHosId($event)">
          <option value="0">Chọn bệnh viện</option>
          <option
            style="color: black !important"
            *ngFor="let hospital of hospitals"
            [value]="hospital.id"
          >
            {{ hospital.name }}
          </option>
        </select>
            </div>
            <div class="col-md-3">
                <label style="color: coral">Chọn Khoa </label>
                <select class="selectDepartment" [disabled]="!selectHospital.value" name="" [(ngModel)]="selectedDepartment">
          <option value="0">Chọn khoa khám</option>
          <option
            *ngFor="let department of departmentsByHosId"
            [value]="department.id"
          >
            {{ department.name }}
          </option>
        </select>
            </div>
            <div class="col-md-3">
                <div class="button_search">
                    <button (click)="
              searchDoctor(
                pageIndex,
                pageSize,
                selectedHospital,
                selectedDepartment,
                searchText
              )
            " class="searchBtn" target="_blank" rel="nofollow noopener">
            Tìm kiếm
          </button>
                </div>
            </div>
        </div>
        <div class="row">
            <label *ngIf="listDoctors.length === 0" style="color: indianred">{{
        notFound
      }}</label>
            <label *ngIf="!selectedIdDoctor" style="color: indianred">{{
        doctorRequired
      }}</label>
        </div>
        <div class="container">
            <hr />
            <div class="row" style="margin-top: 100px">
                <div class="col-md-3" *ngFor="
            let doctor of listDoctors
              | paginate
                : {
                    id: 'paging-one',
                    itemsPerPage: pageSize,
                    currentPage: pageIndex,
                    totalItems: totalDoctors
                  }
          ">
                    <div class="card">
                        <img [src]="
                doctor.image
                  ? server_url + doctor.image
                  : 'assets/themes/images/doctor_01.jpg'
              " alt="Avatar" style="width: 100%" />
                        <h4 style="text-align: center; margin-top: 20px; color: black">
                            <b>{{ doctor.user.fullName }}</b>
                        </h4>
                        <p style="text-align: center; color: black; font-family: serif">
                            <b>Khoa:</b> {{ doctor.department.name }}
                        </p>
                        <div class="button_detail" align="center">
                            <button class="bookBtn" (click)="
                  selectedDoctor = doctor.user.fullName;
                  selectedIdDoctor = doctor.id
                " target="_blank" rel="nofollow noopener">
                Đặt lịch
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!(listDoctors.length === 0)" class="row paging">
            <pagination-controls id="paging-one" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true" responsive="true" previousLabel="Trang trước" nextLabel="Trang sau">
            </pagination-controls>
        </div>
        <p [hidden]="!selectedIdDoctor" style="color: dodgerblue; font-weight: 400; margin-top: 20px">
            Bạn đã đặt lịch với bác sĩ: {{ selectedDoctor }}
        </p>
    </div>
    <div class="symptoms">
        <h1>II.Triệu chứng của bạn</h1>

        <p style="color: black; font-weight: 400">
            - Bạn hãy nhập các triệu chứng mà bạn gặp phải để hỗ trợ các bác sĩ trong quá trình khám bệnh
        </p>
        <label style="color: coral"> Triệu Trứng</label> <br />
        <input type="text" [(ngModel)]="description" placeholder="Ví dụ: Đau bụng, đầy hơi, khó tiêu, ..." id="input-symptoms" />
    </div>
    <div class="time-picker">
        <h1>III. Chọn thời gian.</h1>
        <p style="color: black; font-weight: 400">
            - Hãy chọn ngày mà bạn muốn được tư vấn. Nhân viên của chúng tôi sẽ gửi lại cho bạn lịch khám chi tiết.
        </p>
        <label style="color: coral; font-weight: 600">Chọn ngày khám</label><br />
        <input #date type="date" class="datepicker" [(ngModel)]="datePicker" required (change)="changeTime()" />
    </div>
    <div class="row">
        <p *ngIf="isValidDate == true" [hidden]="!date.value" style="color: dodgerblue; font-weight: 400; margin-top: 20px">
            Bạn đã đặt lịch khám vào ngày: {{ datePicker }}
        </p>
        <label *ngIf="!date.value" style="color: indianred">{{
      dateRequired
    }}</label>
        <label *ngIf="isValidDate == false && date.value" style="color: indianred">Bạn hãy chọn một ngày sau ngày hôm nay: {{ todayDate }}</label
    >
  </div>

  <button
    *ngIf="!selectedIdDoctor || !date.value || isValidDate == false"
    (click)="displayError()"
    class="buttonSubmit"
    id="buttonSubmit"
  >
    xác nhận
  </button>
  <button
    *ngIf="selectedIdDoctor && date.value && isValidDate == true"
    (click)="toggle()"
    class="buttonSubmit"
    id="buttonSubmit"
  >
    xác nhận
  </button>
</div>
<div id="popup">
  <h2 style="text-align: center; font-weight: bold;">Xác nhận thông tin</h2>
  <p style="color: black; font-weight: 400; margin-top: 20px">
    <b>I. Bác sĩ lựa chọn</b> <br />
    - Bác sĩ: {{ selectedDoctor }} <br />
    <b>II. Triệu chứng của bạn</b> <br />
    - {{ description || "Chưa điền" }} <br />
    <b>II. Thời gian lựa chọn</b> <br />
    - Thời gian khám: {{ datePicker }} <br />
    <label style="color: crimson; font-weight: bold"
      >*Khi nhấn xác nhận, bạn sẽ gửi một yêu cầu khám đến cho chúng tôi. Sau
      khi tiếp nhận yêu cầu khám chúng tôi sẽ gửi bạn lịch khám chi tiết cũng
      như những yêu cầu về thanh toán</label
    >
  </p>
  <div class="row groupButton">
    <div class="button1">
      <button
        type="button"
        class="btn btn-primary"
        (click)="sendRequest(selectedIdDoctor, description, datePicker)"
      >
        Gửi yêu cầu
      </button>
    </div>
    <div class="button2">
      <button
        type="button"
        class="btn btn-primary"
        *ngIf="noticeRequestSuccess == false"
        (click)="toggle()"
      >
        Quay lại
      </button>
    </div>
  </div>
</div>