/* title  */

.medical-record {
    width: 100%;
    background: linear-gradient(to right, #1d86df 0%, #39b49a 100%);
    padding: 75px 0;
}

.medical-record {
    width: 100%;
    background: rgb(33, 156, 176);
    background: linear-gradient( 180deg, rgba(33, 156, 176, 1) 0%, rgba(109, 237, 190, 1) 100%);
    padding: 75px 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    float: left;
    height: 500px;
}

.medical-record img {
    width: 20% !important;
    margin-left: 225px;
}

.medical-record h1 {
    margin-top: -250px;
    text-align: center;
    vertical-align: middle;
    line-height: 600px;
    font-size: 40px;
    color: whitesmoke;
}

.col-md-6 {
    margin-top: 50px;
}


/* content guide */

#schedule .step {
    height: 15px;
    background: #bec3c7;
    margin-top: 5px;
}

#schedule .custom-style-step .active .step {
    background: #4569ad !important;
}

.custom-style-step .active {
    color: #4569ad !important;
}

.custom-style-step {
    padding-left: 5px;
    padding-right: 5px;
}

.guide-content {
    margin-left: -10px;
}

.guide-content-title {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #222;
}

.guide-content-label {
    margin-top: 20px;
    font-size: 14px;
    color: #4569ad;
}

.guide-content-selectbox {
    padding: 5px 6px 4px;
    height: auto;
    border-radius: 5px;
    width: 100%;
}

.btn-submit-style {
    margin-top: 30px;
}

.btn-submit-style button:last-child {
    margin-left: 20px;
}

.text-area-style {
    font-size: 14px;
    line-height: normal;
    border: 1px solid silver;
    border-radius: 4px;
    width: 100%;
}

.example_d {
    color: #20bf6b !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 10px;
    border: 4px solid #20bf6b !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-left: 30px;
}

.example_d:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}

.input-form {
    min-width: 800px;
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.input-form:focus {
    border-color: #333;
}

.form-popup {
    margin-top: 3rem;
    border: 1px solid #4569ad;
    border-radius: 10px;
    max-width: 1000px;
    margin-left: 90px;
}

#addForm {
    padding: 30px;
}

.select-doctor {
    margin-top: 100px;
}

.example_c {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 7px 15px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    margin-top: 30px;
}

.example_c:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}

.selectHospital,
.selectDepartment {
    color: black;
    padding: 10px 20px;
    width: 200px;
    min-width: 200px;
}

#dropdownMenu1 {
    background-color: #60b4f0;
    color: white;
    min-width: 150px;
}

.dropdown-menu li {
    color: black;
}

.searchBtn {
    margin-top: 30px;
}

.searchBtn,
.bookBtn {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 5px 20px;
    border: 2px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.search-and-filter {
    margin-top: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    min-height: 500px;
    margin-top: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.searchBtn:hover {
    color: #ffffff !important;
    background: #0094d4;
    border-color: #0094d4 !important;
    transition: all 0.4s ease 0s;
}

.bookBtn:hover {
    color: #ffffff !important;
    background: #0094d4;
    border-color: #0094d4 !important;
    transition: all 0.4s ease 0s;
}

.textSearch {
    color: black;
    padding: 6px 10px;
    width: 250px;
    min-width: 250px;
}

.time-picker {
    margin-top: 50px;
}

.datepicker {
    min-width: 300px;
    min-height: 50px;
}

.confirmBtn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px 40px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.confirmBtn:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.button_confirm {
    margin-top: 70px;
}


/* new popup */

.buttonSubmit {
    text-transform: uppercase;
    position: relative;
    padding: 15px 30px;
    color: #fff;
    background: #ed3330;
    border: none;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
}

.buttonSubmit#buttonSubmit {
    margin-left: 45%;
}

.buttonSubmit#sendRequest {
    margin-left: 30%;
    padding: 10px 25px;
}

.buttonSubmit#goBack {
    padding: 10px 25px;
}

.buttonSubmit:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

#popup,
#popup2 {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 2;
}

#popup.active,
#popup2.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.container {
    position: relative;
}

.container#blur.active {
    filter: blur(1px);
    pointer-events: none;
    user-select: none;
}

#input-symptoms {
    min-width: 500px;
    min-height: 45px;
}

input {
    color: black;
}

.paging {
    margin-top: 40px;
    margin-left: 400px;
}

.card img {
    min-height: 360px;
    max-height: 360px;
}

.button1,
.button2 {
    display: inline-block;
    margin-left: 2rem;
}

.groupButton {
    margin-left: 130px;
}