.doctor-detail {
  margin-top: 200px;
}
.col-md-6 {
  border-left: 5px solid #157fda;
  min-height:  360px;
  opacity: 0.7;
}
.voteCount{
  color:black;
  margin-left: 60px;
}
.rating {
  margin-left: -20px;
  min-width: 300px;
}
star-rating{
  width: 100%;
}
.fa {
  font-size: 30px;
}
.button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}


.button2{
   margin-left: 3rem;
}

#popup, #popup2
{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    min-width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 2;
}
#popup.active, #popup2.active 
{   
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.container{
  position: relative;
}
.container#blur.active{
  filter: blur(1px);
  pointer-events: none;
  user-select: none;
}
.buttons{
  margin-top: 120px;
}
.buttonSubmit{
  text-transform: uppercase;
  position: relative;
  padding: 10px 30px;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 2rem;
}
.buttonSubmit#buttonSubmit{
  margin-left: 45%;
}
.buttonSubmit#sendRequest{
  margin-left: 20%;
  background: #ed3330;
}
.buttonSubmit#cancel{
  background: #434343;
}
#input-symptoms{
  min-width: 500px;
}