<div class="container" id="blur">
    <div class="row doctor-detail">
        <div class="col-md-3">
            <img [src]="image" alt="Avatar" style="width: 100%; min-height: 360px; max-height: 360px;" />
            <div class="rating">
                <star-rating [starType]="'svg'" [rating]="feedbackAvgScore" showHalfStars="true" size="large" readOnly="true"></star-rating>
            </div>
            <div class="voteCount">
                <label>({{voteCount}} lượt đánh giá)</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="infor">
                <h1 style="
            border-bottom: 1px solid gainsboro;
            font-size: 30px;
            font-weight: bold;
            color: dodgerblue;
          ">
                    {{ name }}
                </h1>
                <h2 style="font-family: sans-serif; margin-top: 10px;"><b>Khoa:</b> {{ departmentName }}</h2>
                <h2 style="font-family: sans-serif;"><b>Bệnh Viện:</b> {{ hospitalName }}</h2>
                <h2 style="font-family: sans-serif;"><b>Kinh Nghiệm:</b> 4 năm trong nghề kể từ năm 2006 tới nay</h2>
            </div>
            <div class="buttons">
                <button *ngIf="loggedIn == true && role =='PATIENT'" class="button" (click)="toggle()">Đặt Lịch</button>
                <button *ngIf="loggedIn == false" class="button" [routerLink]="['/login']" routerLinkActive="router-link-active">Đặt Lịch</button>
                <button class="button button2" (click)="back()">Quay Lại</button>
            </div>
        </div>
    </div>
</div>
<div id="popup">
  <h2 style="text-align: center; font-weight: bold;">Xác nhận thông tin</h2>
  <p style="color: black; font-weight: 400; margin-top: 20px">
    <b>I. Bác sĩ lựa chọn </b> <br />
    - Bác sĩ: {{ name }} <br />
    <b>II. Triệu chứng của bạn</b> <br>

    - Bạn hãy nhập các triệu chứng mà bạn gặp phải để hỗ trợ các bác sĩ trong quá trình khám bệnh <br>
    <label> Triệu Trứng</label>
    <input type="text" [(ngModel)]="description" placeholder="Ví dụ: Đau bụng, đầy hơi, khó tiêu, ..." id="input-symptoms">    <br>
   <b> III. Thời gian khám </b> <br />
    <input
      #date
      type="date"
      class="datepicker"
      [(ngModel)]="datePicker"
      (change)="changeTime()"
      required
    />
    <br />
  </p>
  <p
    *ngIf="isValidDate == true"
    [hidden]="!date.value"
    style="color: black; font-weight: 400; margin-top: 20px"
  >
    Bạn đã đặt lịch khám vào ngày: {{ datePicker }}
  </p>
  <label *ngIf="!date.value" style="color: indianred">{{ dateRequired }}</label>
  <label *ngIf="isValidDate == false && date.value" style="color: indianred"
  >Bạn hãy chọn một ngày sau ngày hôm nay: {{ todayDate }}</label
>
  <label style="color: crimson; font-weight: bold"
    >*Khi nhấn xác nhận, bạn sẽ gửi một yêu cầu khám đến cho chúng tôi. Sau khi
    tiếp nhận yêu cầu khám chúng tôi sẽ gửi bạn lịch khám chi tiết cũng như
    những yêu cầu về thanh toán</label
  >
  <button
    (click)="sendRequest(doctorId,description, datePicker)"
    *ngIf="datePicker && isValidDate == true"
    class="buttonSubmit"
    id="sendRequest"
  >
    Gửi yêu cầu
  </button>
  <button
  (click)="displayError()"
    class="buttonSubmit"
    id="sendRequest"
    *ngIf="!datePicker || isValidDate == false"
  >
    Gửi yêu cầu
  </button>
  <button class="buttonSubmit" id="cancel" (click)="toggle()">Quay lại</button>
</div>
