<div class="container">
    <div *ngFor="let medicRequest of listMedicalExamByDoctor" class="card">
        <div class="row">
            <div class="infoHos col-md-6">
                Bệnh viện: {{ medicRequest.doctor.department.hospital.name }}
            </div>
            <div class="status col-md-6">
                {{ medicRequest.status === 1 ? "Đã xác nhận" : medicRequest.status === 2 ? "Đã thanh toán" : medicRequest.status === 3 ? "Đã khám" : medicRequest.status === 4 ? "Đã hủy" : " " }}
            </div>
            <hr style="border-top: 1px solid red; width: 95%" />
        </div>

        <div class="row">
            <div class="col-md-3">
                <img [src]="medicRequest.doctor.image ? (server_url + medicRequest.doctor.image) : 'assets/themes/images/doctor_01.jpg'" alt="Avatar" style="width: 50%; padding: 0px 10px" />
            </div>
            <div class="col-md-3">
                <div class="content">
                    <table>
                        <tr>
                            <td>Người bệnh:</td>
                            <td>{{ medicRequest.patient.user.fullName }}</td>
                        </tr>
                        <tr>
                            <td>Triệu chứng khai báo:</td>
                            <td>{{ medicRequest.medicalReport.description }}</td>
                        </tr>
                        <tr>
                            <td>Ngày hẹn:</td>
                            <td>{{ medicRequest.appointment.appointmentTime }}</td>
                        </tr>
                        <!-- <tr>
              <td>Địa điểm:</td>
              <td>{{ medicRequest.appointment.place }}</td>
            </tr>
            <tr>
              <td>Tiền Phí:</td>
              <td style="color: red">
                {{ medicRequest.paymentHistories[0].amount | currency: "VND" }}
              </td>
            </tr> -->
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <hr style="border-top: 1px solid gray; width: 95%" />
            <div class="button_detail">
                <button class="example_a" (click)="togglePopup('detail', medicRequest)">
          Chi tiết
        </button>
            </div>
            <div class="button_close" *ngIf="medicRequest.status === 2 && compareDate(today, medicRequest.appointment.appointmentTime)">
                <button class="example_b" (click)="openCloseDialog(medicRequest.id)">
          Khám bệnh
        </button>
            </div>
        </div>

        <div class="popup" [id]="'detail-' + medicRequest.id">
            <div>
                <!-- style="margin: -28px 25px 0 0;" -->
                <h1 style="text-align: center; font-weight: bold">
                    Chi tiết đơn khám
                </h1>
                <div style="color: black; font-weight: 400; margin-top: 20px">
                    <table>
                        <tr>
                            <td>Người bệnh:</td>
                            <td>{{ medicRequest.patient.user.fullName }}</td>
                        </tr>
                        <tr>
                            <td>Triệu chứng khai báo:</td>
                            <td>{{ medicRequest.medicalReport.description }}</td>
                        </tr>
                        <tr>
                            <td>Ngày tạo:</td>
                            <td>{{ medicRequest.createdAt | date:'medium' }}</td>
                        </tr>
                        <tr>
                            <td>Ngày hẹn:</td>
                            <td>{{ medicRequest.appointment.appointmentTime | date }}</td>
                        </tr>
                        <tr>
                            <td>Địa điểm:</td>
                            <td>{{ medicRequest.appointment.place }}</td>
                        </tr>
                        <tr>
                            <td>Tiền Phí:</td>
                            <td style="color: red">
                                {{ medicRequest.paymentHistories[0].amount | currency: "VND" }}
                            </td>
                        </tr>
                        <tr>
                            <td>Ghi chú:</td>
                            <td style="color: red">
                                {{ medicRequest.note }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <button class="btn btn-primary pull-right" (click)="togglePopup('detail', medicRequest)">
            Đóng
          </button>
                </div>
            </div>
        </div>
    </div>
</div>