.container {
    padding: 20px;
}

.card {
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    min-width: 1100px;
    min-height: 100px;
    background-color: bisque;
    margin-top: 20px;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.infoHos {
    padding: 0px 25px;
}

.status {
    padding: 0px 0px;
    color: red;
    margin-left: -20px;
    text-align: right;
    font-weight: bold;
}

.content {
    margin-left: -150px;
}

.example_a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-bottom: 10px;
    margin-left: 1000px;
}

.example_a:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

table tr td {
    padding: 0px 5px;
}

.popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 2;
}

.popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.buttonSubmit {
    text-transform: uppercase;
    position: relative;
    padding: 10px 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 2rem;
}

.buttonSubmit#cancel {
    background: #434343;
}

.col-md-3 img {
    max-height: 150px;
}

.rating {
    justify-content: left !important;
}