<div class="container">
    <h2 style="text-align: center; font-weight: bold; font-family: sans-serif;">Cập nhật sổ khám</h2>
    <hr>

    <div>
        <label for="description">
            Mô tả triệu chứng
        </label>
        <textarea class="md-textarea form-control" rows="3" id="description" [formControl]="descriptionCtrl"></textarea>
    </div>

    <div>
        <label for="pathology">
            Tình trạng bệnh
        </label>
        <textarea class="md-textarea form-control" rows="3" id="pathology" [formControl]="pathologyCtrl"></textarea>
    </div>

    <div>
        <label for="treatment">
            Phương thức điều trị
        </label>
        <textarea class="md-textarea form-control" rows="3" id="treatment" [formControl]="treatmentCtrl"></textarea>
    </div>

    <div>
        <div class="flex-container">
            <div>
                <label for="treatment">Thêm thuốc</label>
                <mat-form-field>
                    <mat-select [formControl]="medicineCtrl"  #singleSelect>
                        <mat-option>
                            <ngx-mat-select-search [formControl]="medicineFilterCtrl" placeholderLabel="Nhập ít nhất 3 ký tự để tìm kiếm" noEntriesFoundLabel="Không tìm thấy"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let medicine of filteredMedicines | async" [value]="medicine.id">
                            {{ medicine.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="margin-left: 60px;">
                <label>
                    Số lượng
                    <input style="margin-top: 20px;" type="text" [formControl]="quantityCtrl"/>
                </label>
            </div>
        </div>

        <div class="flex-container">
            <div>
                <label>
                    Đơn vị
                    <input style="margin-top: 20px;" type="text" [formControl]="unitCtrl"/>
                </label>
            </div>
            <div style="margin-left: 60px;">
                <label>
                    Liều lượng
                    <input style="margin-top: 20px;" type="text" [formControl]="noteCtrl"/>
                </label>
            </div>
        </div>

        <button class="btn btn-primary" style="margin-top: 20px;" (click)="addMedicine()"> Add
        </button>
    </div>

    <hr>
    <div class="">
        <button class="btn btn-success" mat-raised-button type="submit" (click)="onSubmit()">
          Xác nhận
        </button>
        <button mat-stroked-button style="margin-left: 10px;" class="btn btn-danger" [mat-dialog-close]>
          Hủy
        </button>
    </div>

    <div class="popup active" *ngIf="medicineMedicalRecords.length">
        <h3>Đơn thuốc</h3>
        <div *ngFor="let medicine of medicineMedicalRecords">
            <span>{{ medicine.medicineName }} - </span>
            <span>{{ medicine.quantity }} - </span>
            <span>{{ medicine.unit }} - </span>
            <span>{{ medicine.note }}</span>
        </div>
    </div>
</div>