.container {
    width: 40em;
}

label {
    display: block;
    width: 15em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
}

input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
    color: black;
}

textarea {
    color: black;
    font-size: 1em;
}

.popup {
    position: fixed;
    top: 40%;
    left: 82%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    /* box-shadow: 0 5px 30px rgba(0,0,0,.30); */
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 2;
}

.popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.flex-container {
    display: flex;
}