<div class="container">
    <div class="container2" id="blur2">
        <table>
            <tr>
                <td>Tên đăng nhập</td>
                <td>
                    <input type="text" [value]="currentPatient.user.username" readonly />
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <button (click)="toggleChangePassword()">Đổi mật khẩu</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="popupChangePass">
    <table>
        <tr>
            <td><label for="oldPassword">Mật khẩu cũ</label></td>
            <td>
                <input #oldPassword type="password" name="oldPassword" placeholder="Điền mật khẩu cũ của bạn" />
            </td>
        </tr>
        <tr>
            <td><label for="newPassword">Mật khẩu mới</label></td>
            <td>
                <input #newPassword type="password" name="newPassword" placeholder="Điền mật khẩu mới của bạn" />
            </td>
        </tr>
        <tr>
            <td><label for="reEnterPassword">Nhập lại mật khẩu</label></td>
            <td>
                <input #reEnterPassword type="password" name="reEnterPassword" placeholder="Điền lại một lần nữa" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button (click)="confirm(newPassword.value, oldPassword.value)">
          Xác nhận
        </button>
                <button id="backBtn" (click)="toggleChangePassword()">Quay lại</button>
            </td>
        </tr>
    </table>
</div>
<div id="changeNotice">
    <h1 style="color: green">{{ changeSuccess }}</h1>
    <h1 style="color: red">{{ changeFail }}</h1>
    <button class="btn btn-success" *ngIf="changeSuccess" (click)="logout()">Đăng xuất</button>
    <button class="btn btn-primary" *ngIf="changeFail" (click)="toggleChangeNotice()">Quay Lại</button>
</div>