.container {
  padding: 50px;
}
td,
input {
  font-size: 17px;
  padding: 10px;
  color: black;
  font-weight: 600;
}

input {
  min-width: 300px;
}
#popupChangePass, #changeNotice {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  z-index: 2;
}
#popupChangePass, #changeNotice {
  text-align: center;
}
#popupChangePass.active, #changeNotice.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.container2 {
  position: relative;
}
.container2#blur.active {
  filter: blur(1px);
  pointer-events: none;
  user-select: none;
}
table {
    text-align: left;
}

#backBtn{
  margin-left: 2rem;
}