<div class="container">
  <h2 mat-dialog-title>Trả lời</h2>

    <mat-form-field>
        <mat-label>Tới</mat-label>
        <input
            matInput
            type="text"
            [(ngModel)]="data.data.name"
            readonly
        />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input
            matInput
            type="text"
            [(ngModel)]="data.data.email"
            readonly
        />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Tiêu đề</mat-label>
        <input
            matInput
            type="text"
            [(ngModel)]="data.data.title"
            readonly
        />
    </mat-form-field>

    <angular-editor disabled [formControl]="replyMessage" [config]="editorConfig"></angular-editor>

    <div class="displayButton">
        <button
          class="button-submit"
          [disabled]="data.type !== 'reply'"
          mat-raised-button
          (click)="send()"
        >
          Gửi
        </button>
        <button mat-stroked-button class="component-button" [mat-dialog-close]>
          Đóng
        </button>
      </div>
</div>