<div class="container">
    <div class="row">
        <div class="image">
            <img [src]="imgURL || imageURL " alt="Avatar" style="width: 100%" />
        </div>
    </div>
    <div class="row">
        <div style="margin-top: 170px;" class="buttons">
            <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                <input #file formControlName="file" type="file" accept='image/*' (change)="preview(file.files)" /><br>
                <span style="color:red;" *ngIf="message">{{message}}</span>
                <button class="btn btn-primary" type="submit" [disabled]="!addForm.valid">Cập nhật ảnh</button>
            </form>
        </div>


    </div>

</div>