<div class="container">
  <!-- Add record -->
  <h2 *ngIf="data.type === 'create'" mat-dialog-title>Thêm bác sĩ</h2>
  <h2 *ngIf="data.type === 'edit'" mat-dialog-title>Cập nhật bác sĩ</h2>

  <form [formGroup]="addForm" (ngSubmit)="onSubmit(data.id)">
    <input formControlName="id" type="hidden" [(ngModel)]="data.id" />
    <mat-form-field>
      <mat-label>Tên đăng nhập</mat-label>
      <input
        [class.is-invalid]="username.invalid && username.touched"
        formControlName="username"
        matInput
        type="text"
        [readonly]="data.type === 'edit'"
        [(ngModel)]="data.username"
      />
      <button
        mat-button
        *ngIf="data.username && data.type === 'create'"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.username = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for fullName-->
      <mat-error *ngIf="username.touched && username.invalid">
        <small *ngIf="username.errors?.required" style="color: red"
          >Tên đăng nhập là bắt buộc</small
        >
        <small *ngIf="username.errors?.forbiddenName" style="color: red"
          >Tên "{{ username.errors?.forbiddenName.value }}" không được phép sử
          dụng
        </small>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Họ và Tên</mat-label>
      <input
        [class.is-invalid]="fullName.invalid && fullName.touched"
        formControlName="fullName"
        matInput
        type="text"
        [(ngModel)]="data.fullName"
      />
      <button
        mat-button
        *ngIf="data.fullName"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.fullName = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for fullName-->
      <mat-error *ngIf="fullName.touched && fullName.invalid">
        <small *ngIf="fullName.errors?.required" style="color: red"
          >Họ tên là bắt buộc</small
        >
        <small *ngIf="fullName.errors?.forbiddenName" style="color: red"
          >Tên "{{ fullName.errors?.forbiddenName.value }}" không được phép sử
          dụng
        </small>
      </mat-error>
    </mat-form-field>
    <!-- <small [hidden]="addForm.get('name').valid || addForm.get('name').untouched" style="color:red">Name is required</small> -->

    <div class="radio-group">
      <p>Giới tính</p>
      <mat-radio-group
        formControlName="gender"
        [class.is-invalid]="gender.invalid"
        aria-label="Gender"
      >
        <mat-radio-button [checked]="data.gender === 1" value="1"
          >Nam
        </mat-radio-button>
        <mat-radio-button [checked]="data.gender === 2" value="2"
          >Nữ</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <mat-form-field>
      <mat-label>Ngày tháng năm sinh</mat-label>
      <input
        type="date"
        matInput
        formControlName="dateOfBirth"
        [class.is-invalid]="dateOfBirth.invalid && dateOfBirth.touched"
        [(ngModel)]="data.dateOfBirth"
      />
    </mat-form-field>

    <!-- input title -->

    <mat-form-field>
      <mat-label>Chức danh</mat-label>
      <input
        [class.is-invalid]="title.invalid && title.touched"
        formControlName="title"
        matInput
        type="text"
        [(ngModel)]="data.title"
      />
      <button
        mat-button
        *ngIf="data.title"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.title = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for title -->
      <mat-error *ngIf="title.touched && title.invalid">
        <small *ngIf="title.errors?.required" style="color: red"
          >Chức danh là bắt buộc</small
        >
      </mat-error>
    </mat-form-field>
    <!-- select hospital -->
    <div class="selectHospital" *ngIf="tokenPayload.role == 'ADMIN'">
      <mat-form-field>
        <mat-label>Chọn bệnh viện</mat-label>
        <mat-select
          #selectHospital
          formControlName="hospital"
          [class.is-invalid]="hospital.invalid && hospital.touched"
          (selectionChange)="loadDepartmentByHosId($event)"
          [(ngModel)]="data.hospitalId"
        >
          <mat-option *ngFor="let hospital of hospitals" [value]="hospital.id">
            {{ hospital.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- select department -->
    <div class="selectDepartment" *ngIf="tokenPayload.role == 'ADMIN'">
      <mat-form-field>
        <mat-label>Chọn một khoa</mat-label>
        <mat-select
          [disabled]="!hospital.value"
          formControlName="departmentId"
          [class.is-invalid]="departmentId.invalid && departmentId.touched"
          name="departmentId"
          [(ngModel)]="data.departmentId"
        >
          <mat-option
            *ngFor="let department of departmentsByHosId"
            [value]="department.id"
          >
            {{ department.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- select department -->
    <div class="selectDepartment" *ngIf="tokenPayload.role == 'STAFF'">
      <mat-form-field>
        <mat-label>Chọn một khoa</mat-label>
        <mat-select
          formControlName="departmentId"
          [class.is-invalid]="departmentId.invalid && departmentId.touched"
          name="departmentId"
          [(ngModel)]="data.departmentId"
        >
          <mat-option
            *ngFor="let department of departmentsByHosId"
            [value]="department.id"
          >
            {{ department.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- input email address -->
    <mat-form-field>
      <mat-label>Địa chỉ email</mat-label>
      <input
        [class.is-invalid]="email.invalid && email.touched"
        formControlName="email"
        matInput
        type="text"
        [(ngModel)]="data.email"
        [readonly]="data.type === 'edit'"
      />
      <button
        mat-button
        *ngIf="data.email && data.type === 'create'"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.email = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for title -->
      <mat-error *ngIf="email.touched && email.invalid">
        <small *ngIf="email.errors?.required" style="color: red"
          >Địa chỉ email là bắt buộc {{ email.touched }}</small
        >
        <small *ngIf="email.errors?.pattern" style="color: red">
          Địa chỉ email có dạng "abc@gmail.com"
        </small>
      </mat-error>
    </mat-form-field>

    <!-- input address -->
    <mat-form-field>
      <mat-label>Địa chỉ</mat-label>
      <input
        [class.is-invalid]="address.invalid && address.touched"
        formControlName="address"
        matInput
        type="text"
        [(ngModel)]="data.address"
      />
      <button
        mat-button
        *ngIf="data.address"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.address = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for title -->
      <mat-error *ngIf="address.touched && address.invalid">
        <small *ngIf="address.errors?.required" style="color: red"
          >Địa chỉ là bắt buộc</small
        >
      </mat-error>
    </mat-form-field>

    <!-- input phone -->
    <mat-form-field>
      <mat-label>Số điện thoại</mat-label>
      <input
        [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched"
        formControlName="phoneNumber"
        matInput
        type="text"
        [(ngModel)]="data.phoneNumber"
      />
      <button
        mat-button
        *ngIf="data.phoneNumber"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.phoneNumber = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for title -->
      <mat-error *ngIf="phoneNumber.touched && phoneNumber.invalid">
        <small *ngIf="phoneNumber.errors?.required" style="color: red"
          >Số điện thoại là bắt buộc</small
        >
        <small *ngIf="phoneNumber.errors?.pattern" style="color: red"
          >Số điện thoại là một dãy số có 10 số tự nhiên
        </small>
      </mat-error>
    </mat-form-field>
    <!-- Buttons  -->
    <div class="displayButton">
      <button
        class="button-submit"
        *ngIf="data.type === 'create'"
        [disabled]="!addForm.valid"
        mat-raised-button
        type="submit"
      >
        Thêm bác sĩ
      </button>
      <button
        class="button-submit"
        *ngIf="data.type === 'edit'"
        [disabled]="!addForm.valid"
        mat-raised-button
        type="submit"
      >
        Cập nhật bác sĩ
      </button>
      <button mat-stroked-button class="component-button" [mat-dialog-close]>
        Hủy bỏ
      </button>
    </div>
  </form>
</div>
