<div class="page-content">
  <div class="register">
    <div id="login-box">
      <div class="left">
        <h2>Đăng ký tài khoản</h2>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <input
            type="text"
            formControlName="username"
            placeholder="Tên tài khoản"
          />
          <!-- error message for username -->
          <div
            *ngIf="username.invalid && username.touched"
            class="alertError"
          >
            <div *ngIf="username.errors.required">
              Vui lòng điền tên đăng nhập
            </div>
          </div>
          <input type="text" formControlName="email" placeholder="E-mail" />
          <!-- error message for email -->
          <div
            *ngIf="email.invalid && email.touched"
            class="alertError"
          >
            <div *ngIf="email.errors?.required">Vui lòng điền địa chỉ email</div>
            <div *ngIf="email.errors?.pattern">Địa chỉ email không hợp lệ</div>
          </div>
          <input
            type="password"
            formControlName="password"
            placeholder="Mật khẩu"
          />
          <!-- error message for password -->
          <div
            *ngIf="password.invalid && password.touched"
            class="alertError"
          >
            <div *ngIf="password.errors.required">Vui lòng điền mật khẩu </div>
          </div>
          <input
            type="password"
            formControlName="rePassword"
            placeholder="Nhập lại mật khẩu"
          />
          <!-- error message for rePassword -->
          <div
            *ngIf="rePassword.invalid && rePassword.touched"
            class="alertError"
          >
            <div *ngIf="rePassword.errors.required">Vui lòng điền lại mật khẩu</div>
          </div>
          <div *ngIf="rePassword.touched && !rePassword.invalid" class="alertError">
            <div *ngIf="rePassword.value != password.value">Mật khẩu nhập lại chưa khớp</div>
          </div>
          <input
            [disabled]="!addForm.valid || (rePassword.value != password.value)"
            type="submit"
            name="signup_submit"
            value="Đăng Ký"
          />
          <div class="alertError" id="alreadyRegisted">
            <div *ngIf="alreadyRegisted">{{alreadyRegisted}}</div>
          </div>
          
        </form>
      </div>

      <div class="right">
        <span class="loginwith">Đăng nhập bằng</span>
        <button class="social-signin google" (click)="signInWithGoogle()">Log in with Google+</button>
      </div>
      <div class="or">OR</div>
    </div>
  </div>
</div>
