.container{
    padding: 20px;
}
.click {
    color: blue;
    cursor: pointer;
}
.displayButton{
    position: relative;
}
.file-input {
    width: 400px;
}
.mat-raised-button{
    display: block;
}
.component-button{
    position: absolute;
    display: block;
    top: 0;
    right:0;
}
.button-submit{
    margin-left: 230px;
}
.mat-error{
    font-size: 15px;
}
