<div class="container">
    <h2>Import từ Excel file</h2>
    <h4>Nhấn vào <span class="click" (click)="getTemplateFile()">đây</span> để tải xuống template.</h4>

    <form [formGroup]="addForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <input formControlName="userRole" type="hidden" [(ngModel)]="data.userRole" />
        <div class="selectHospital" *ngIf="data.userRole === 'ADMIN'">
            <mat-form-field>
              <mat-label>Chọn bệnh viện</mat-label>
              <mat-select
                formControlName="hospitalId"
              >
                <mat-option *ngFor="let hospital of hospitals" [value]="hospital.id">
                  {{ hospital.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <mat-form-field class="file-input">
            <mat-label>
                Chọn file tải lên
            </mat-label>
            <ngx-mat-file-input formControlName="file">
            </ngx-mat-file-input>
        </mat-form-field>

        <!-- Buttons  -->
        <div class="displayButton">
          <button
            class="button-submit"
            mat-raised-button
            type="submit"
          >
            Tải lên
          </button>
          <button mat-stroked-button class="component-button" [mat-dialog-close]>
            Hủy bỏ
          </button>
        </div>
    </form>
</div>