<div class="container">
    <div class="text-center">
        <!-- Button HTML (to Trigger Modal) -->
        <a href="#myModal" class="trigger-btn" data-toggle="modal" (click)="sendToken(token)">Nhấn vào đây để xác nhận tài khoản</a>
    </div>

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm" *ngIf="success">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE876;</i>
                    </div>
                    <h4 style="color: green;" class="modal-title">Xác nhận Tài khoản Thành công!</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Bạn đã có thể đăng nhập và sử dụng dịch vụ của chúng tôi. Nhấn OK để về trang đăng nhập</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-block" data-dismiss="modal" (click)="returnToLogin()">OK</button>
                </div>
            </div>
        </div>

        <div class="modal-dialog modal-confirm" *ngIf="!success">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box" style="background: #e74c3c;">
                        <i class="material-icons">&#xe5cd;</i>
                    </div>
                    <h4 style="color:#e74c3c;" class="modal-title">Xác nhận Tài khoản Thất bại!</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Vui lòng kiểm tra lại email mới nhất.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-failure btn-block" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>