<div class="container">
    <div *ngFor="let medicRequest of listMedicalExamination" class="card">
        <div class="row">
            <div class="infoHos col-md-6">
                Bệnh viện: {{ medicRequest.doctor.department.hospital.name }}
            </div>
            <div class="status col-md-6">
                {{ medicRequest.status === 0 ? "Chờ xác nhận" : medicRequest.status === 1 ? "Đã xác nhận" : medicRequest.status === 2 ? "Đã thanh toán" : medicRequest.status === 3 ? "Đã khám" : medicRequest.status === 4 ? "Đã hủy" : " " }}
            </div>
            <hr style="border-top: 1px solid red; width: 95%" />
        </div>

        <div class="row">
            <div class="col-md-3">
                <img [src]="medicRequest.doctor.image ? (server_url + medicRequest.doctor.image) : 'assets/themes/images/doctor_01.jpg'" alt="Avatar" style="width: 50%; padding: 0px 10px" />
            </div>
            <div class="col-md-3">
                <div class="content">
                    <table>
                        <tr>
                            <td>Bác sĩ:</td>
                            <td>{{ medicRequest.doctor.user.fullName }}</td>
                        </tr>
                        <tr>
                            <td>Khoa:</td>
                            <td>{{ medicRequest.doctor.department.name }}</td>
                        </tr>
                        <tr>
                            <td>Ngày hẹn:</td>
                            <td>{{ medicRequest.appointment.appointmentTime }}</td>
                        </tr>
                        <tr *ngIf="medicRequest.medicalReport">
                            <td>Triệu chứng:</td>
                            <td>{{ medicRequest.medicalReport.description }}</td>
                        </tr>
                        <tr *ngIf="medicRequest.note.length">
                            <td>Ghi chú:</td>
                            <td>{{ medicRequest.note }}</td>
                        </tr>
                        <tr>
                            <td>Tiền Phí:</td>
                            <td style="color: red">
                                {{ medicRequest.paymentHistories[0].amount | currency: "VND" }}
                            </td>
                        </tr>
                        <tr *ngIf="medicRequest.feedback">
                            <td>Đánh giá:</td>
                            <td>
                                <star-rating [starType]="'svg'" [rating]="medicRequest.feedback.rating" size="medium" readOnly="true">
                                    ></star-rating>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <hr style="border-top: 1px solid gray; width: 95%" />
            <div class="button_cancel" *ngIf="medicRequest.status === 0 || medicRequest.status === 1">
                <a class="example_a" target="_blank" rel="nofollow noopener" (click)="togglePopup(medicRequest, 'cancel')">Huỷ Đơn</a
        >
      </div>
      <div class="button_detail">
        <a
          class="example_b"
          target="_blank"
          rel="nofollow noopener"
          (click)="loadMedicalRecord(medicRequest)"
          >Chi tiết</a
        >
      </div>
    </div>

    <div class="popup" [id]="'detail-' + medicRequest.id">
      <div>
        <!-- style="margin: -28px 25px 0 0;" -->
        <h1 style="text-align: center; font-weight: bold">
          Chi tiết đơn khám
        </h1>
        <div style="color: black; font-weight: 400; margin-top: 20px">
          <table>
            <tr>
              <td>Bệnh viện:</td>
              <td>{{ medicRequest.doctor.department.hospital.name }}</td>
            </tr>
            <tr>
              <td>Khoa:</td>
              <td>{{ medicRequest.doctor.department.name }}</td>
            </tr>
            <tr>
              <td>Bác sĩ:</td>
              <td>{{ medicRequest.doctor.user.fullName }}</td>
            </tr>
            <tr>
              <td>Người bệnh:</td>
              <td>{{ medicRequest.patient.user.fullName }}</td>
            </tr>
            <tr>
              <td>Triệu chứng khai báo:</td>
              <td>{{ medicRequest.medicalReport.description }}</td>
            </tr>
            <tr>
              <td>Ngày tạo:</td>
              <td>{{ medicRequest.createdAt | date:'medium' }}</td>
            </tr>
            <tr>
              <td>Ngày hẹn:</td>
              <td>{{ medicRequest.appointment.appointmentTime | date }}</td>
            </tr>
            <tr *ngIf="medicRequest.appointment.place">
              <td>Địa điểm:</td>
              <td>{{ medicRequest.appointment.place }}</td>
            </tr>
            <tr *ngIf="medicRequest.note.length">
              <td>Ghi chú:</td>
              <td>{{ medicRequest.note }}</td>
            </tr>
            <tr>
              <td>Tiền Phí:</td>
              <td style="color: red">
                {{ medicRequest.paymentHistories[0].amount | currency: "VND" }}
              </td>
            </tr>
            <tr *ngIf="medicRequest.feedback">
              <td>Đánh giá:</td>
              <td>
                <star-rating
                  [starType]="'svg'"
                  [rating]="medicRequest.feedback.rating"
                  size="medium"
                  readOnly="true">
                ></star-rating>                
              </td>
            </tr>
            <tr *ngIf="medicalRecord">
              <td>Triệu chứng khám:</td>
              <td>{{ medicalRecord.description }}</td>
            </tr>
            <tr *ngIf="medicalRecord">
              <td>Bệnh:</td>
              <td>{{ medicalRecord.pathology }}</td>
            </tr>
            <tr *ngIf="medicalRecord">
              <td>Điều trị</td>
              <td>{{ medicalRecord.treatment }}</td>
            </tr>
            <tr *ngIf="medicalRecord">
              <td>Đơn thuốc:</td>
              <td></td>
            </tr>
            <div *ngIf="medicalRecord">
              <tr *ngFor="let medicine of medicalRecord.medicineMedicalRecords">
                <td> </td>
                <td style="width: 350px;">- {{ medicine.medicineName }} ({{ medicine.quantity }} {{ medicine.unit }}) - {{ medicine.note }}</td>
              </tr>
            </div>
          </table>
        </div>
        <div>
          <button
            class="btn btn-primary pull-right"
            (click)="togglePopup(medicRequest, 'detail')"
          >
            Đóng
          </button>
        </div>
      </div>
    </div>

    <div class="popup" [id]="'cancel-' + medicRequest.id">
      <div>
        <!-- style="margin: -28px 25px 0 0;" -->
        <h1 style="text-align: center; font-weight: bold">
          Bạn chắc chắn muốn hủy đơn này?
        </h1>
        <div>
          <button
            class="btn btn-info pull-left"
            (click)="togglePopup(medicRequest, 'cancel')"
          >
            Hủy
          </button>
          <button
            class="btn btn-primary pull-right"
            (click)="cancelExamination(medicRequest.id)"
          >
            Tiếp tục
          </button>
        </div>
      </div>
    </div>
  </div>
</div>