.menu-left {
  background: rgb(0, 175, 240);
  background: linear-gradient(
    180deg,
    rgba(0, 175, 240, 1) 0%,
    rgba(192, 255, 232, 1) 100%
  );
  min-width: 350px;
  min-height: 800px;
  margin-top: 200px;
}

.background-profile {
  background-color: white;
  border-radius: 50%;
  width: 50%;
  min-width: 200px;
  min-height: 200px;
}
.profile {

  height: 200px;
  width: 200px;
}
.profile img{
  height: 250px;
  width: 250px;
  min-width: 200px;
  min-height: 200px;
}
.profile,
.background-profile {
  margin: auto;
  margin-top: 20px;
}
.background-profile#inside img{
  margin-left: 30px;
  border: 2px solid black;
  border-radius: 10px;
}
.background-profile img{
  border-radius: 50%;
  padding: 20px;
  margin-top: -15px;
  margin-left: -15px;
  max-width: 230px;
  max-height: 230px;
}
.content-right {
  opacity: 0.8;
  background: rgb(240, 177, 0);
  background: linear-gradient(
    180deg,
    rgba(240, 177, 0, 1) 0%,
    rgba(255, 249, 192, 1) 100%
  );
  min-width: 700px;
  min-height: 800px;
  margin-top: 200px;
}

.vertical-menu a {
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  border-bottom: 1px solid brown;
}
.profile {
  position: relative;
}
.changeAvt {
  position: absolute;
  right: 0;
  bottom: 0;
}
.tooltipp {

  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltipp .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltipp:hover .tooltiptext {
  visibility: visible;
}

#popup, #popup2
{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 2;
}
#popup2{
  text-align: center;
}
#popup.active , #popup2.active
{   
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.container{
  position: relative;
}
.container#blur.active{
  filter: blur(1px);
  pointer-events: none;
  user-select: none;
}

.form{
  margin-left: 200px;
}

.btn{
  margin-left: -3rem;
  margin-top: 10px;
}
.btn-danger{
  margin-left: 2rem;
}