<div class="container" id="blur">
    <div class="menu-left col-md-3">
        <div class="background-profile">
            <div class="profile">
                <img *ngIf="currentPatient" [src]="currentPatient.user.avatar ? (server_url + currentPatient.user.avatar) : '/assets/themes/images/user.png' " alt="">
                <img *ngIf="currentDoctor" [src]="currentDoctor.user.avatar ? (server_url + currentDoctor.user.avatar) : '/assets/themes/images/user.png' " alt="">
                <div class="tooltipp">
                    <button class="btn btn-info" (click)="toggle()" class="changeAvt">
            <i class="glyphicon glyphicon-camera" aria-hidden="true"></i>
          </button>
                    <p class="tooltiptext" style="
              color: black;
              font-weight: 400;
              position: absolute;
              background-color:lemonchiffon;
              padding: 3px;
            ">
                        Bấm để đổi ảnh đại diện
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="vertical-menu">
            <div class="background-menu-item">
                <a (click)="showProfileInfo()">Thông tin cá nhân</a>
            </div>
            <div class="background-menu-item">
                <a (click)="showAccountInfo()">Thông tin tài khoản</a>
            </div>
            <div *ngIf="currentDoctor" class="background-menu-item">
                <a (click)="showPersonalImage()">Ảnh cá nhân</a>
            </div>
        </div>
    </div>
    <div class="content-right col-lg-5">
        <router-outlet></router-outlet>
    </div>
</div>
<div id="popup">
    <div class="background-profile" id="inside">
        <img [src]="imgURL || '/assets/themes/images/user.png'" alt="">
    </div>
    <div class="form">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <input #file formControlName="file" type="file" accept='image/*' (change)="preview(file.files)" />
            <span style="color:red;" *ngIf="message">{{message}}</span>
            <button class="btn btn-primary" type="submit" [disabled]="!addForm.valid">Xác nhận</button>
            <button class="btn btn-danger" (click)="toggle()">Huỷ Bỏ</button>
        </form>
    </div>
</div>
<div id="popup2">
    <h1 style="color: darkgreen;">Cập nhật ảnh đại diện thành công</h1>
    <button class="btn btn-primary" (click)="toggle2()">Quay Lại</button>
</div>