<div class="container-doctor">
  <div class="mat-headline">Thông tin về các bệnh viện</div>
  <div class="displayFilter">
    <div class="searchInput">
      <mat-form-field>
        <mat-label>Tìm kiếm bệnh viện</mat-label>
        <input
          #inputSearch
          name="search"
          [(ngModel)]="searchText"
          matInput
          placeholder="Điền tên nhân viên muốn tìm"
        />
      </mat-form-field>
    </div>
    <div class="searchButton">
      <button
        (click)="searchHospital(searchText)"
        mat-raised-button
        color="primary"
      >
        Tìm kiếm
      </button>
    </div>
    <div class="addButton">
      <button mat-raised-button (click)="openDialog()">
        Thêm bệnh viện
      </button>
    </div>
  </div>
  <label> {{ notFound }} </label>
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Số ID
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Tên
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.name || "No Data" }}
      </mat-cell>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Địa chỉ
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.address || "No data" }}
      </mat-cell>
    </ng-container>

    <!-- dob Column -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Số điện thoại
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.phoneNumber || "No data" }}
      </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="website">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Website
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.website || "No Data" }}
      </mat-cell>
    </ng-container>

    <!-- Specialist Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Địa chỉ Email
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.email || "No Data" }}
      </mat-cell>
    </ng-container>

    <!-- Unit Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Mô tả bệnh viện
      </mat-header-cell>
      <mat-cell *matCellDef="let element"
        >{{ element.description || "No data" }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="editHospital(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <!-- Active Column -->
    <ng-container matColumnDef="isActive">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Trạng thái hoạt động
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-slide-toggle
          [color]="colorSlide"
          [checked]="element.isActive === 1"
          (click)="setActive(element.id)"
        >
        </mat-slide-toggle>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"> </mat-paginator>
</div>
