
.btn{
    border-radius: 50%;
}
.dropdown{
    border-radius: 50%;
    margin-left: 320px;
    margin-top: 3px;
}
.doctor{
    margin-left: 500px ;
}
.profile-image{
    max-width: 28px;
    max-height: 40px;
}
.profile-image img{
    border-radius: 50%;
    max-width: 48px;
    max-height: 48px;
    min-width: 48px;
    min-height: 48px;
    margin-left: -10px;
    margin-top: -4px;
}


.dropdown-menu li a{
    color: black !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}
.dropdown-menu li a:hover{
    background-color: antiquewhite !important;
}  