<div class="container">
  <div *ngIf="currentPatient">
    <table>
      <tr>
        <td>Họ tên</td>
        <td>
          <input
            class="input"
            #fullName
            type="text"
            [value]="currentPatient.user.fullName || ''"
            placeholder="Chưa có thông tin"
          />
        </td>
      </tr>
      <tr>
        <td>Giới tính</td>
        <td>
          <input #male [(ngModel)]="gender" type="radio" id="male" name="gender" value="1">
          Nam
          <input #female [(ngModel)]="gender" type="radio" id="female" name="gender" value="2" >
          Nữ
        </td>
      
      </tr>
      <tr>
        <td>Số điện thoại</td>
        <td>
          <input
          class="input"
            #phoneNumber
            type="text"
            [value]="currentPatient.user.phoneNumber || ''"
            placeholder="Chưa có thông tin"
          />
        </td>
      </tr>
      <tr>
        <td>Ngày tháng năm sinh</td>
        <td>
          <input class="input" #date type="date" [value]="currentPatient.user.dateOfBirth" placeholder="Chưa có thông tin"/>
        </td>
      </tr>
      <tr>
        <td>Địa chỉ</td>
        <td>
          <input
            #address
            class="input"
            type="text"
            [value]="currentPatient.user.address || ''"
            placeholder="Chưa có thông tin"
          />
        </td>
      </tr>
      <tr>
        <td>Địa chỉ Email</td>
        <td>
          <input
          class="input"
            #email
            type="text"
            [value]="currentPatient.user.email || ''"
            readonly
          />
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button  (click)="onSubmit(fullName.value, gender , phoneNumber.value, date.value, address.value)">Lưu thay đổi</button>
        </td>
      </tr>
    </table>
  </div>
  
  <div *ngIf="currentDoctor">
    <table>
      <tr>
        <td>Họ tên</td>
        <td>
          <input
            class="input"
            #fullName
            type="text"
            [value]="currentDoctor.user.fullName || ''"
            placeholder="Chưa có thông tin"
          />
        </td>
      </tr>
      <tr>
        <td>Giới tính</td>
        <td>
          <input #male [(ngModel)]="gender" type="radio" id="male" name="gender" value="1">
          Nam
          <input #female [(ngModel)]="gender" type="radio" id="female" name="gender" value="2" >
          Nữ
        </td>
      
      </tr>
      <tr>
        <td>Số điện thoại</td>
        <td>
          <input
          class="input"
            #phoneNumber
            type="text"
            [value]="currentDoctor.user.phoneNumber || ''"
            placeholder="Chưa có thông tin"
          />
        </td>
      </tr>
      <tr>
        <td>Ngày tháng năm sinh</td>
        <td>
          <input class="input" #date type="date" [value]="currentDoctor.user.dateOfBirth" placeholder="Chưa có thông tin"/>
        </td>
      </tr>
      <tr>
        <td>Địa chỉ</td>
        <td>
          <input
            #address
            class="input"
            type="text"
            [value]="currentDoctor.user.address || ''"
            placeholder="Chưa có thông tin"
          />
        </td>
      </tr>
      <tr>
        <td>Địa chỉ Email</td>
        <td>
          <input
          class="input"
            #email
            type="text"
            [value]="currentDoctor.user.email || ''"
            readonly
          />
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button  (click)="onSubmit(fullName.value, gender , phoneNumber.value, date.value, address.value)">Lưu thay đổi</button>
        </td>
      </tr>
    </table>
  </div>

  
</div>
<div id="popup3">
  <h1 style="color: darkgreen;">Cập nhật thông tin cá nhân thành công</h1>
  <button (click)="toggle3()">Quay Lại</button>
</div>
