<!-- <div class="container">
    <div class="form-reset">
        <h1>Quên mật khẩu?</h1>
        <p>Điền tài khoản email của bạn vào đây</p>
        <input #email type="text">
        <button (click)="confirm(email.value)">Xác nhận</button>
    </div>
</div> -->
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Bạn quên mật khẩu của mình?</h2>
                            <p style="color: black;">Bạn có thể làm mới mật khẩu của bạn tại đây. Hãy nhập email của bạn và chúng tôi sẽ gửi mật khẩu mới tới email của bạn</p>
                            <div class="panel-body">
                                <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input #email id="email" name="email" placeholder="Điền địa chỉ email" class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input name="recover-submit" (click)="confirm(email.value)" class="btn btn-lg btn-primary btn-block" value="Xác nhận" type="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
