.container{
    margin-top: 300px;

}
.form-reset{
    min-width: 200px;
    max-width: 500px;
    max-height: 200px;
    min-height: 200px;
    border: 1px solid burlywood;
    border-radius: 10px;
    background-color: antiquewhite;
}
.alertError{
	font-size: 13px;
	max-height: 10px;
	margin-top: -20px;
	margin-bottom: 20px;
	color:orangered;
  }
.page-content{
    width: 100%;
	margin:  0 auto;
    /* background: #75e2e9; */

    background: rgb(66,197,220);
    background: linear-gradient(180deg, rgba(66,197,220,1) 0%, rgba(255,255,255,1) 100%);
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}