<footer id="footer" class="footer-area wow fadeIn">
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <div class="logo padding">
                <h1>BLOUSE</h1>
                <p>Sẽ là người bạn của bạn. Chăm sóc sức khỏe ngay khi bạn cần</p>
             </div>
          </div>
          <div class="col-md-4">
             <div class="footer-info padding">
                <h3>Liên lạc với chúng tôi</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Khu công nghệ cao Hòa Lạc, Thạch Thất</p>
                <p><i class="fa fa-paper-plane" aria-hidden="true"></i> blousesystem@gmail.com</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> (+08) 978 858 938</p>
             </div>
          </div>
          <div class="col-md-4">
             <div class="subcriber-info">
                <h3>Cơ sở</h3>
                <p>Hiện nay Blouse đã có 2 cơ sở trên cả nước</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Khu công nghệ cao Hòa Lạc, Thạch Thất</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> TP Hồ Chí Minh, Vietnam</p>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <div class="copyright-area wow fadeIn">
    <div class="container">
       <div class="row">
          <div class="col-md-8">
             <div class="footer-text">
                <p>© 2020 Blouse. All Rights Reserved.</p>
             </div>
          </div>
          <div class="col-md-4">
             <div class="social">
                <ul class="social-links">
                   <li><a href=""><i class="fa fa-rss"></i></a></li>
                   <li><a href=""><i class="fa fa-facebook"></i></a></li>
                   <li><a href=""><i class="fa fa-twitter"></i></a></li>
                   <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                   <li><a href=""><i class="fa fa-youtube"></i></a></li>
                   <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </div>