.content{
  background: rgb(33,147,176);
background: linear-gradient(180deg, rgba(33,147,176,1) 0%, rgba(109,213,237,1) 100%);
}
.our-doctor {
  width: 100%;
  background: linear-gradient(to right, #1d86df 0%, #39b49a 100%);
  padding: 75px 0;
}
.our-doctor {
  width: 100%;
  background: url("src/assets/themes/images/doctor.jpg");
  padding: 75px 0;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  float: left;
  height: 600px;
}
.our-doctor h1 {
  margin-top: 280px;
  text-align: center;
  vertical-align: middle;
  line-height: 600px;
  font-size: 40px;
  color: whitesmoke;
}

.search-and-filter {
  margin-top: 650px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  min-height: 500px;
  margin-top: 20px;
}
.card img {
  min-height: 360px;
  max-height: 360px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.example_c, .detailBtn {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 5px 20px;
  border: 2px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  
}
.example_c{
  margin-top: 34px;
}
.detailBtn{
  margin-top: -2px;
}
.detailBtn:hover {
  color: #ffffff !important;
  background: #0094d4;
  border-color: #0094d4 !important;
  transition: all 0.4s ease 0s;
  }
.example_c:hover {
  color: #ffffff !important;
  background: #0094d4;
  border-color: #0094d4 !important;
  transition: all 0.4s ease 0s;
  }
#dropdownMenu1{
  background-color: #60b4f0;
  color: white;
  min-width: 150px;
}
.dropdown-menu li{
  color: black;
}

.selectHospital, .selectDepartment{
  color: black;
  padding: 10px 20px;
  width: 200px;
  min-width: 200px;
}
.textSearch{
  color: black;
  padding: 6px 10px;
  width: 250px;
  min-width: 250px;
  
}

.paging{
  margin-top: 40px;
  margin-left: 400px;
}