<div class="our-doctor wow fadeIn">
    <h1>Bác sĩ của Blouse</h1>
</div>

<div class="container">
    <div class="row search-and-filter">
        <div class="col-md-3">
            <label style="color: black">Nhập tên bác sĩ </label>
            <input class="textSearch" type="text" [(ngModel)]="searchText" placeholder="Nhập tên bác sĩ" />
        </div>
        <div class="col-md-3">
            <label style="color: black">Chọn bệnh viện </label>
            <select #selectHospital class="selectHospital" name="" [(ngModel)]="selectedHospital" (ngModelChange)="loadDepartmentByHosId($event)">
      <option value="0">Chọn bệnh viện</option>
        <option
          style="color: black !important"
          *ngFor="let hospital of hospitals"
          [value]="hospital.id"
        >
          {{ hospital.name }}
        </option>
      </select>
        </div>
        <div class="col-md-3">
            <label style="color: black">Chọn Khoa </label>
            <select class="selectDepartment" [disabled]="!selectHospital.value" name="" [(ngModel)]="selectedDepartment">
      <option value="0">Chọn khoa khám</option>
        <option
          *ngFor="let department of departmentsByHosId"
          [value]="department.id"
        >
          {{ department.name }}
        </option>
      </select>
        </div>
        <div class="col-md-3">
            <div (click)="resetPage()" class="button_search">
                <a (click)="
            searchDoctor(pageIndex,pageSize,selectedHospital, selectedDepartment, searchText)
          " class="example_c" target="_blank" rel="nofollow noopener">Tìm kiếm</a
        >
      </div>
    </div>

    <label style="color: indianred">{{ notFound }}</label>
  </div>
</div>

<div class="container">
  <hr />
  <div class="row" style="margin-top: 100px">
    <div
      class="col-md-3"
      *ngFor="
        let doctor of listDoctors
          | paginate
            : {
                id: 'paging-one',
                itemsPerPage: 8,
                currentPage: pageIndex,
                totalItems: totalDoctors
              }
      "
    >
      <div class="card">
        <img
          [src]="doctor.image ? (server_url + doctor.image) : 'assets/themes/images/doctor_01.jpg'"
          alt="Avatar"
          style="width: 100%"
        />
        <h4 style="text-align: center; margin-top: 20px; color: black;">
          <b>{{ doctor.user.fullName }}</b>
        </h4>
        <p style="text-align: center; color: black; font-family: sans-serif;"><b>Khoa:</b> {{ doctor.department.name }}</p>
        <div class="button_detail" align="center">
          <button
            class="btn btn-primary btn-lg"
            (click)="onSelect(doctor)"
            target="_blank"
            rel="nofollow noopener"
            >Chi tiết</button
          >
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!(listDoctors.length === 0)" class="row paging">
    <pagination-controls
      id="paging-one"
      (pageChange)="pageChanged($event)"
      maxSize="9"
      directionLinks="true"
      responsive="true"
      previousLabel="Trang trước"
      nextLabel="Trang sau"
    >
    </pagination-controls>
  </div>
</div>