<div class="container">
    <div class="tabs">
        <div [ngStyle]="{'border-bottom': currentIndex =='manage-all' || currentIndex == 'manage-all-by-doctor' ? '5px solid red' : '' }" (click)="showAll()" class="tab">
            Tất cả
        </div>
        <div *ngIf="role == 'PATIENT' " [ngStyle]="{'border-bottom': currentIndex =='manage-request' ? '5px solid red' : '' }" (click)="showRequest()" class="tab">
            Chờ xác nhận
        </div>
        <div [ngStyle]="{'border-bottom': currentIndex =='manage-confirmed' ||  currentIndex == 'manage-confirmed-by-doctor' ? '5px solid red' : '' }" (click)="showConfirmed()" class="tab">
            Đã xác nhận
        </div>
        <div *ngIf="role == 'PATIENT' " [ngStyle]="{'border-bottom': currentIndex =='manage-schedule' ? '5px solid red' : '' }" (click)="showSchedule()" class="tab">
            Đã thanh toán
        </div>
        <div [ngStyle]="{'border-bottom': currentIndex =='manage-history'  || currentIndex == 'manage-history-by-doctor' ? '5px solid red' : '' }" (click)="showHistory()" class="tab">
            Đã khám
        </div>
        <div [ngStyle]="{'border-bottom': currentIndex =='manage-cancel' || currentIndex == 'manage-cancel-by-doctor' ? '5px solid red' : '' }" (click)="showCanceled()" class="tab">
            Đã hủy
        </div>
    </div>
    <router-outlet></router-outlet>
</div>