/* You can add global styles to this file, and also import other style files */
@import url(assets/themes/style.css);
@import '~css-star-rating/css/star-rating';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.rating{
    outline: none;
}