<div class="container-doctor">
  <div class="mat-headline">Thông tin về các bác sĩ</div>
  <div class="displayFilter">
    <div class="searchInput">
      <mat-form-field>
        <mat-label>Tìm kiếm bác sĩ</mat-label>
        <input
          #inputSearch
          name="search"
          [(ngModel)]="searchText"
          matInput
          placeholder="Điền tên bác sĩ bạn muốn"
        />
      </mat-form-field>
    </div>
    <!-- select hospital -->
    <div class="selectHospital">
      <mat-form-field>
        <mat-label>Chọn bệnh viện</mat-label>
        <mat-select
          #selectHospital
          [(ngModel)]="selectedHospital"
          (selectionChange)="loadDepartmentByHosId($event)"
        >
          <mat-option *ngFor="let hospital of hospitals" [value]="hospital.id">
            {{ hospital.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- select department -->
    <div class="selectDepartment">
      <mat-form-field>
        <mat-label>Chọn khoa khám</mat-label>
        <mat-select
          #selectDepartment
          [(ngModel)]="selectedDepartment"
          [disabled]="!selectHospital.value"
          name="departmentId"
        >
          <mat-option
            *ngFor="let department of departmentsByHosId"
            [value]="department.id"
          >
            {{ department.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div (click)="resetPage()" class="searchButton">
      <button
        (click)="searchDoctor(pageIndex,pageSize,selectedHospital, selectedDepartment, searchText)"
        mat-raised-button
        color="primary"
      >
        Tìm kiếm
      </button>
    </div>
    <div class="importButton">
      <button mat-raised-button (click)="openUploadDialog()">
        Import từ Excel
      </button>
    </div>
    <div class="addButton">
      <button mat-raised-button (click)="openDialog()">Thêm một bác sĩ</button>
    </div>
  </div>
  <label> {{ notFound }} </label>
  <mat-table [(dataSource)]="dataSource" matSort class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell
        [style.display]="'none'"
        *matHeaderCellDef
        mat-sort-header
      >
        ID number
      </mat-header-cell>
      <mat-cell [style.display]="'none'" *matCellDef="let element">
        {{ element.id }}
      </mat-cell>
    </ng-container>
    <!-- index Column -->
    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef mat-sort-header> STT </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{ i + 1 }}
      </mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tên </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.user.fullName || "No Data" }}
      </mat-cell>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Giới tính
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.user.gender === 1 ? "Nam" : "Nữ" }}
      </mat-cell>
    </ng-container>

    <!-- dob Column -->
    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Ngày tháng năm sinh
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.user.dateOfBirth || "No data" }}
      </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Chức danh
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.user.title || "No Data" }}
      </mat-cell>
    </ng-container>

    <!-- Department id Column -->
    <ng-container matColumnDef="departmentName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Khoa
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.department.name }}
      </mat-cell>
    </ng-container>
    <!-- Department id Column -->
    <ng-container matColumnDef="hospitalName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Bệnh viện
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.department.hospital.name }}
      </mat-cell>
    </ng-container>

    <!-- Active status Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Địa chỉ Email
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.user.email }} </mat-cell>
    </ng-container>

    <!-- Active status Column -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Số điện thoại
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.user.phoneNumber || 'No Data' }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="editDoctor(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <!-- Active status Column -->
    <ng-container matColumnDef="isActive">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Trạng thái hoạt động
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-slide-toggle
          [color]="colorSlide"
          [checked]="element.isActive === 1"
          (click)="setActive(element.id)"
        >
        </mat-slide-toggle>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [length]="length"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChanged($event)"
  >
  </mat-paginator>
</div>
