<body class="form-v4">
  <div class="page-content">
    <div class="form-v4-content">
      <div class="form-left">
        <h2 style="color:white">BLOUSE</h2>
        <p class="text-1">
		  Đây là nơi ghi nhận các phản hồi và thắc mắc về hệ thống cũng như dịch vụ của Blouse.
		  Chúng tôi sẽ ghi nhận những ý kiến từ khách hàng và <b>phản hồi lại thông qua địa chỉ email của khách hàng đã cung cấp</b>
        </p>
        <p class="text-2">
		  Chúng tôi mong sẽ nhận được sự đóng góp từ quý khách để ngày một hoàn thiện, nâng cao chất lượng dịch vụ của blouse. <br><br>
		  Xin chân thành cảm ơn!
        </p>
        <div class="form-left-last">
          <input
            type="submit"
            name="account"
            class="account"
            (click)="book()"
            value="ĐĂNG KÝ KHÁM"
          />
        </div>
      </div>
      <form class="form-detail" [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <h2>Liên Hệ</h2>
        <!-- input name -->
        <div class="form-row form-row-1">
          <label for="name">Tên:</label>
          <input
            type="text"
            formControlName="name"
            name="name"
            id="name"
            class="input-text"
            required
          />
        </div>
        <!-- validate name -->
        <div
          *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alertError"
        >
          <div *ngIf="name.errors.required">Vui lòng điền tên của bạn</div>
        </div>
        <!-- input email -->
        <div class="form-row form-row-1">
          <label for="email">Email:</label>
          <input
            type="email"
            formControlName="email"
            name="email"
            id="email"
            class="input-text"
            required
          />
        </div>
        <!-- validate email -->
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alertError"
        >
          <div *ngIf="email.errors.required">
            Vui lòng điền địa chỉ email của bạn
          </div>
          <div *ngIf="email.errors?.pattern">Địa chỉ email không hợp lệ</div>
        </div>
        <!-- input phone -->
        <div class="form-row form-row-1">
          <label for="phone">Số Điện Thoại:</label>
          <input
            type="text"
            formControlName="phoneNumber"
            name="phone"
            id="phone"
            class="input-text"
            required
          />
        </div>
        <!-- validate phone -->
        <div
          *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
          class="alertError"
        >
          <div *ngIf="phoneNumber.errors.required">
            Vui lòng điền số điện thoại của bạn
          </div>
        </div>
        <!-- input title -->
        <div class="form-row form-row-1">
          <label for="detail">Tiêu Đề:</label>
          <input
            type="text"
            formControlName="title"
            name="detail"
            id="detail"
            class="input-text"
            required
          />
        </div>
        <!-- validate tiltle -->
        <div
          *ngIf="title.invalid && (title.dirty || title.touched)"
          class="alertError"
        >
          <div *ngIf="title.errors.required">
            Vui lòng điền tiêu đề
          </div>
        </div>
        <!-- input message -->
        <div class="form-row">
          <label for="your_email">Tin nhắn:</label>
          <textarea 
            type="text"
            formControlName="message"
            name="message"
            id="message"
            class="input-text"
            required
          ></textarea>
        </div>
        <!-- validate message -->
        <div
          *ngIf="message.invalid && (message.dirty || message.touched)"
          class="alertError"
        >
          <div *ngIf="message.errors.required">
            Vui lòng điền lời nhắn của bạn
          </div>
        </div>
        <div class="form-row-last">
		  <input
		  [disabled]="!addForm.valid"
            type="submit"
            name="sendMessage"
            class="sendMessage"
            value="Gửi Tin Nhắn"
		  />
        </div>
      </form>
    </div>
  </div>
</body>
