<div class="container-doctor">
  <div class="mat-headline">Danh sách các liên hệ</div>

  <mat-table [(dataSource)]="dataSource" matSort class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell
        [style.display]="'none'"
        *matHeaderCellDef
        mat-sort-header
      >
        ID number
      </mat-header-cell>
      <mat-cell [style.display]="'none'" *matCellDef="let element">
        {{ element.id }}
      </mat-cell>
    </ng-container>
    <!-- index Column -->
    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef mat-sort-header> STT </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{ i + 1 }}
      </mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tên </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.name || "No Data" }}
      </mat-cell>
    </ng-container>

    <!-- Active status Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Địa chỉ Email
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.email }} </mat-cell>
    </ng-container>

    <!-- Active status Column -->
    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Số điện thoại
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.phoneNumber || "No Data" }}
      </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Tiêu đề
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.title || "No Data" }}
      </mat-cell>
    </ng-container>

    <!-- Department id Column -->
    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Nội dung tin nhắn
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.message || "No Data" }}
      </mat-cell>
    </ng-container>

    <!-- Department id Column -->
    <ng-container matColumnDef="respondentId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          respondentId
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngIf="element.admin">
            {{ element.admin.user.fullName || element.admin.user.username }}
          </span>
        </mat-cell>
      </ng-container>

    <!-- Active status Column -->
    <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Hành động
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          *ngIf="!element.admin"
          mat-icon-button
          matTooltip="Trả lời"
          matTooltipPosition="right"
          aria-label="Reply"
          (click)="openDialog('reply', element.id)"
        >
          <mat-icon color="primary">reply</mat-icon>
        </button>
        <button
          *ngIf="element.admin"
          mat-icon-button
          matTooltip="Xem mail"
          matTooltipPosition="right"
          aria-label="Reply"
          (click)="openDialog('view', element.id)"
        >
          <mat-icon color="primary">contact_mail</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions"> </mat-paginator>
</div>
